<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Seventh Square Seller</title>
  {% include "styles.html" %}
  {% include "navlogout.html" %}
  <nav aria-label="breadcrumb" style="font-size: 15px;">
    <ol class="breadcrumb" style="background-color: #fff;padding: 2px 20px;margin-bottom: 0px!important;">
      <li class="breadcrumb-item"><a href="/" style="color:#01011e">Home</a></li>
      <li class="breadcrumb-item"><a href="" id="last2word" style="color:#01011e"></a></li>
      <li class="breadcrumb-item active" aria-current="page"><span id="lastword"></span></li>
    </ol>
  </nav>
<div class="row" style="margin: 0px;">
<div class="col-12 col-md-1"></div>
<div class="col">
    <h1
        style="text-align: center;padding-top: 20px;color: black;font-weight: 700;font-family: 'Libre Baskerville', serif;">
        SEVENTH SQUARE SELLER</h1>
    <h6 style="text-align: center;padding-top: 20px;font-family: 'Fira Sans', sans-serif;">LIGHTING | SANITARY |
        FURNITURE | DECOR | FURNISHINGS | FLOORING | HARDWARE | BUILDING MATERIALS</h6>
    <h6 style="text-align: center;padding: 10px 0px 30px 0px;font-family: 'Noto Sans', sans-serif;">We are a marketplace
        for all kinds of Home Products including Home Interiors, Home Improvement & Building Materials.</h6>
    <!-- <h6 style="text-align: center;padding: 30px;color: black;"><strong>WWW.SEVENTHSQ.COM</strong></h6> -->
    <div class="row text-center" style="margin: 10px 50px;">
        <div class="col-12 col-md-4"></div>
        <div class="col" style="padding: 0px 5px;"><a href="https://www.facebook.com/Seventh-Square-101727191683337/"
                target='_blank'><img class="img-fluid" src="https://seller.seventhsq.com/static/staticfiles/email/facebook.png"
                    style="height: 30px;" /></a></div>
        <div class="col" style="padding: 0px 5px;"><a href="https://www.instagram.com/seventhsquare/"
                target='_blank'><img class="img-fluid" src="https://seller.seventhsq.com/static/staticfiles/email/instagram.png"
                    style="height: 30px;" /></a></div>
        <div class="col" style="padding: 0px 5px;"><a href="https://www.linkedin.com/company/seventh-square"
                target='_blank'><img class="img-fluid" src="https://seller.seventhsq.com/static/staticfiles/email/linkedin.png"
                    style="height: 30px;" /></a></div>
        <div class="col" style="padding: 0px 5px;"><a href="https://www.pinterest.com/seventhsq/" target='_blank'><img
                    class="img-fluid" src="https://seller.seventhsq.com/static/staticfiles/email/pinterest.png"
                    style="height: 30px;" /></a></div>
        <div class="col" style="padding: 0px 5px;"><a href="https://twitter.com/SeventhSq/" target='_blank'><img
                    class="img-fluid" src="https://seller.seventhsq.com/static/staticfiles/email/twitter.png"
                    style="height: 30px;" /></a></div>
        <div class="col-12 col-md-4"></div>
    </div>
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-12 col-md-4 mb-lg-0" style="padding: 10px;">
                <a href="/blog/Explore-SS/">
                    <div class="border rounded-0" style="color: #ffffff;"><img
                            src="https://seller.seventhsq.com/static/staticfiles/img/b1.png" alt="image" style="width: 100%;" />
                        <div class="text-center">
                            <h6 class="text-uppercase hover-2-title mb-0"
                                style="font-weight: bold;background: rgba(0,0,0,0.3);line-height: 1.4;">
                                Explore SS<br /><span class="text-capitalize"
                                    style="padding: 0px 10px;font-family: 'Dancing Script', cursive;font-weight: lighter;">Sell
                                    on Seventh Square | Benefits of selling with Seventh Square</span><br /><span
                                    style="font-size: 13px;font-family: 'Crimson Text', serif;font-weight: lighter;">january
                                    25<sup>th</sup>, 2021<br>BY - <strong
                                        style="font-family: 'Libre Baskerville', serif;font-weight: 500;">seventh
                                        square</strong></span></h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 mb-lg-0" style="padding: 10px;">
                <a href="/blog/Ecommerce/">
                    <div class="border rounded-0" style="color: #ffffff;"><img
                            src="https://seller.seventhsq.com/static/staticfiles/img/b2.png" alt="image" style="width: 100%;" />
                        <div class="text-center">
                            <h6 class="text-uppercase hover-2-title mb-0"
                                style="font-weight: bold;background: rgba(0,0,0,0.3);line-height: 1.4;">
                                Ecommerce<br /><span class="text-capitalize"
                                    style="padding: 0px 10px;font-family: 'Dancing Script', cursive;font-weight: lighter;">Earning
                                    in the 21st century: How e-commerce can help you grow</span><br /><span
                                    style="font-size: 13px;font-family: 'Crimson Text', serif;font-weight: lighter;">january
                                    25<sup>th</sup>, 2021<br>BY - <strong
                                        style="font-family: 'Libre Baskerville', serif;font-weight: 500;">seventh
                                        square</strong></span></h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 mb-lg-0" style="padding: 10px;">
                <a href="/blog/Seller-Learning/">
                    <div class="border rounded-0" style="color: #ffffff;"><img
                            src="https://seller.seventhsq.com/static/staticfiles/img/b3.png" alt="image" style="width: 100%;" />
                        <div class="text-center">
                            <h6 class="text-uppercase hover-2-title mb-0"
                                style="font-weight: bold;background: rgba(0,0,0,0.3);line-height: 1.4;">
                                Seller Learning<br /><span class="text-capitalize"
                                    style="padding: 0px 10px;font-family: 'Dancing Script', cursive;font-weight: lighter;">Tips
                                    & Tricks For Selling Online With Seventh Square</span><br /><br /><span
                                    style="font-size: 13px;font-family: 'Crimson Text', serif;font-weight: lighter;">january
                                    25<sup>th</sup>, 2021<br>BY - <strong
                                        style="font-family: 'Libre Baskerville', serif;font-weight: 500;">seventh
                                        square</strong></span></h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 mb-lg-0" style="padding: 10px;">
                <a href="/blog/Seller/">
                    <div class="border rounded-0" style="color: #ffffff;"><img
                            src="https://seller.seventhsq.com/static/staticfiles/img/b4.png" alt="image" style="width: 100%;" />
                        <div class="text-center">
                            <h6 class="text-uppercase hover-2-title mb-0"
                                style="font-weight: bold;background: rgba(0,0,0,0.3);line-height: 1.4;">
                                Seller Learning<br /><span class="text-capitalize"
                                    style="padding: 0px 10px;font-family: 'Dancing Script', cursive;font-weight: lighter;">Seventh
                                    Square Business</span><br /><br /><span
                                    style="font-size: 13px;font-family: 'Crimson Text', serif;font-weight: lighter;">february
                                    01<sup>st</sup>, 2021<br>BY - <strong
                                        style="font-family: 'Libre Baskerville', serif;font-weight: 500;">seventh
                                        square</strong></span></h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 mb-lg-0" style="padding: 10px;">
                <a href="/blog/Learning/">
                    <div class="border rounded-0" style="color: #ffffff;"><img
                            src="https://seller.seventhsq.com/static/staticfiles/img/b5.png" alt="image" style="width: 100%;" />
                        <div class="text-center">
                            <h6 class="text-uppercase hover-2-title mb-0"
                                style="font-weight: bold;background: rgba(0,0,0,0.3);line-height: 1.4;">
                                Seller Learning<br /><span class="text-capitalize"
                                    style="padding: 0px 10px;font-family: 'Dancing Script', cursive;font-weight: lighter;">Online
                                    Furniture Market in India</span><br /><br /><span
                                    style="font-size: 13px;font-family: 'Crimson Text', serif;font-weight: lighter;">february
                                    01<sup>st</sup>, 2021<br>BY - <strong
                                        style="font-family: 'Libre Baskerville', serif;font-weight: 500;">seventh
                                        square</strong></span></h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 mb-lg-0" style="padding: 10px;">
                <a href="/blog/Learning1/">
                    <div class="border rounded-0" style="color: #ffffff;"><img
                            src="https://seller.seventhsq.com/static/staticfiles/img/b6.png" alt="image" style="width: 100%;" />
                        <div class="text-center">
                            <h6 class="text-uppercase hover-2-title mb-0"
                                style="font-weight: bold;background: rgba(0,0,0,0.3);line-height: 1.4;">
                                Seller Learning<br /><span class="text-capitalize"
                                    style="padding: 0px 10px;font-family: 'Dancing Script', cursive;font-weight: lighter;">Importance of Packaging in E-commerce</span><br /><br /><span
                                    style="font-size: 13px;font-family: 'Crimson Text', serif;font-weight: lighter;">february
                                    03<sup>rd</sup>, 2021<br>BY - <strong
                                        style="font-family: 'Libre Baskerville', serif;font-weight: 500;">seventh
                                        square</strong></span></h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-1"></div>
</div>
{% include "footer.html" %}
<script>
  var l = window.location.pathname.split('/')[2];
  document.getElementById('lastword').innerHTML = l;
  var l2 = window.location.pathname.split('/')[1];
  document.getElementById('last2word').innerHTML = l2;
</script>
<script src="/static/staticfiles/js/jquery.min.js"></script>
<script src="/static/staticfiles/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>