<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Seventh Square Seller</title>
  {% include "styles.html" %}
  {% include "navlogout.html" %}
  <nav aria-label="breadcrumb" style="font-size: 15px;">
    <ol class="breadcrumb" style="background-color: #fff;padding: 2px 20px;margin-bottom: 0px!important;">
      <li class="breadcrumb-item"><a href="/" style="color:#01011e">Home</a></li>
      <li class="breadcrumb-item"><a href="" id="last2word" style="color:#01011e"></a></li>
      <li class="breadcrumb-item active" aria-current="page"><span id="lastword"></span></li>
    </ol>
  </nav>
<div class="row" style="margin: 0px;">
<div class="col-1 col-md-3"></div>
<div class="col">
    <h2 class="text-center text-capitalize"
        style="color: black;font-weight: 700;font-family: 'Libre Baskerville', serif;margin: 25px;line-height: 1.5;">
        Sell on Seventh Square | Benefits of selling with Seventh Square</h2>
    <div class="text-center"
        style="color: black;font-family: 'Hind Siliguri', sans-serif;font-size: 13px;line-height: 1.8;letter-spacing: 1.5px; margin: 30px;">
        JAN 25, 2021 <br> By - <strong
            style="color: rgb(226, 2, 2);letter-spacing: 0px;font-family: 'Libre Baskerville', serif;font-size: 14px;">Seventh
            Square</strong>
    </div>
    <h5 class="text-center"
        style="color: black;font-weight: 600; font-family: 'Crimson Text', serif;font-style: italic;">Brand value and
        Sales are built on Customer Experience now more than Product or Price.</h5>

    <img src="https://seller.seventhsq.com/static/staticfiles/img/b1.png" alt="" style="width: 100%;margin: 20px 0px;">
    <p style="font-family: 'Hind Siliguri', sans-serif;">We have focused on creating a fulfilling shopping experience
        for the customers whenever they are shopping for
        their home or workspace.</p>
    <div class="row" style="margin: 10px 0px;">
        <div class="col-12 col-md-8" style="padding-bottom: 5px;">
            <h2 style="font-size: 21px; margin: 10px 0px; font-family: 'Source Serif Pro', serif; color: black;">
                <strong style="font-family: 'Crimson Text', serif;">Choices</strong>
            </h2>
            <span style="font-family: 'Hind Siliguri', sans-serif;">With the help of sellers from across the country,
                customers now have more options for the same
                product
                than ever. Also, they can shop for the first brick to the last cushion at a single destination in a
                single order. This helps them build their space much better at lower prices. </span>
        </div>
        <div class="col"></div>
    </div>
    <div class="row" style="margin: 10px 0px;">
        <div class="col"></div>
        <div class="col-12 col-md-8" style="padding-bottom: 5px;">
            <h2 style="font-size: 21px; margin: 10px 0px; font-family: 'Source Serif Pro', serif; color: black;">
                <strong style="font-family: 'Crimson Text', serif;">Design Room</strong>
            </h2>
            <span style="font-family: 'Hind Siliguri', sans-serif;">Customers now can see how your products look in
                their own background. This will directly increase
                your
                sales from our platform given increased customer satisfaction. This is done using our own software
                and
                tech without any costs to you. </span>
        </div>
    </div>
    <div class="row" style="margin: 10px 0px;">
        <div class="col-12 col-md-8" style="padding-bottom: 5px;">
            <h2 style="font-size: 21px; margin: 10px 0px; font-family: 'Source Serif Pro', serif; color: black;">
                <strong style="font-family: 'Crimson Text', serif;">Installation</strong>
            </h2>
            <span style="font-family: 'Hind Siliguri', sans-serif;">If you service categories which require installation
                such as Kitchen sinks or Bed & Wardrobes, we
                provide an extra installation service to the customers, which they can avail on checkout. This does
                not
                add up to your costs but helps you provide better customer service. </span>
        </div>
        <div class="col"></div>
    </div>
    <div class="row" style="margin: 10px 0px;">
        <div class="col"></div>
        <div class="col-12 col-md-8" style="padding-bottom: 5px;">
            <h2 style="font-size: 21px; margin: 10px 0px; font-family: 'Source Serif Pro', serif; color: black;">
                <strong style="font-family: 'Crimson Text', serif;">Easy Payment Options</strong>
            </h2>
            <span style="font-family: 'Hind Siliguri', sans-serif;">We’ve incorporated as many payment options as
                possible so that the customer can pay as they
                prefer. We
                transfer your funds directly to your bank account, making it simple for you to receive payments for
                products sold. </span>
        </div>
    </div>
    <div class="row" style="margin: 10px 0px;">
        <div class="col-12 col-md-8" style="padding-bottom: 5px;">
            <h2 style="font-size: 21px; margin: 10px 0px; font-family: 'Source Serif Pro', serif; color: black;">
                <strong style="font-family: 'Crimson Text', serif;">Seller Benefits</strong>
            </h2>
            <span style="font-family: 'Hind Siliguri', sans-serif;">From Easy Shipping to streamlined payment policy, we
                have made it really easy for you to expand
                your
                business at no extra costs. All you have to do is create an account with us, upload your products
                and
                start selling! With us, you can directly reach customers across the country who are looking to
                create
                their spaces sitting at your office and managing everything on a single screen. </span>
        </div>
        <div class="col"></div>
    </div>
    <h2 class="text-center"
        style="font-size: 20px; margin: 30px 0px; font-family: 'Libre Baskerville', serif; color: black;">
        <strong>Join us
            today by Registering your business with us! </strong>
    </h2>
</div>

<div class="col-1 col-md-3"></div>
</div>
<div class="row" style="margin: 0px;">
    <div class="col-12 col-md-2"></div>
    <div class="col">{% include "blogstrip.html" %}</div>
    <div class="col-12 col-md-2"></div>
</div>
{% include "footer.html" %}
<script>
  var l = window.location.pathname.split('/')[2];
  document.getElementById('lastword').innerHTML = l;
  var l2 = window.location.pathname.split('/')[1];
  document.getElementById('last2word').innerHTML = l2;
</script>
<script src="/static/staticfiles/js/jquery.min.js"></script>
<script src="/static/staticfiles/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>