<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Seventh Square Seller</title>
  {% include "styles.html" %}
  {% include "navlogout.html" %}
  <nav aria-label="breadcrumb" style="font-size: 15px;">
    <ol class="breadcrumb" style="background-color: #fff;padding: 2px 20px;margin-bottom: 0px!important;">
      <li class="breadcrumb-item"><a href="/" style="color:#01011e">Home</a></li>
      <li class="breadcrumb-item"><a href="" id="last2word" style="color:#01011e"></a></li>
      <li class="breadcrumb-item active" aria-current="page"><span id="lastword"></span></li>
    </ol>
  </nav>
<div class="row" style="margin: 0px;">
<div class="col-1 col-md-3"></div>
<div class="col">
    <h2 class="text-center text-capitalize"
        style="color: black;font-weight: 700;font-family: 'Libre Baskerville', serif;margin: 25px;line-height: 1.5;">
        Tips & Tricks For Selling Online</h2>
    <div class="text-center"
        style="color: black;font-family: 'Hind Siliguri', sans-serif;font-size: 13px;line-height: 1.8;letter-spacing: 1.5px; margin: 30px;">
        JAN 25, 2021 <br> By - <strong
            style="color: rgb(226, 2, 2);letter-spacing: 0px;font-family: 'Libre Baskerville', serif;font-size: 14px;">Seventh
            Square</strong>
    </div>
    <p style="font-family: 'Hind Siliguri', sans-serif;margin: 0px;">Establishing your brand online might seem a hassle
        from far but it doesn’t have to be so difficult creating your name among marketplaces as compared to when you
        started with a small retail space.
    </p>

    <img src="https://seller.seventhsq.com/static/staticfiles/img/b3.png" alt="" style="width: 100%;margin: 20px 0px;">

    <p style="font-family: 'Hind Siliguri', sans-serif;margin: 0px;">Here is some expert advice to make your online
        selling journey easier with us:
    </p>
    <h2 style="font-size: 21px; margin: 20px 0px; font-family: 'Source Serif Pro', serif; color: black;">
        <strong style="font-family: 'Crimson Text', serif;">Detailed Product Listing</strong>
    </h2>
    <span style="font-family: 'Hind Siliguri', sans-serif;">Keep your product listing fully updated. Put any specific
        information that the customer might want to know in description and explain how to use your product. You only
        have to do it once and thousands of consumers will see it when they open your product page. This helps consumers
        be comfortable purchasing your product from the website. Also, this helps in ranking your products based on
        keywords and website searches. So, with a detailed and optimized listing, your products rank first as well as
        are more likely to be sold. Here are some actions for completing your listing:
        <ul style="margin-top: 20px;">
            <li>Optimize your title </li>
            <li>Relevant Dimensions</li>
            <li>Material</li>
            <li>Use </li>
            <li>Care tips</li>
            <li>Warranty or Guarantee if any</li>
            <li>Brand info</li>
            <li>Keywords</li>
        </ul>
    </span>

    <h2 style="font-size: 21px; margin: 20px 0px; font-family: 'Source Serif Pro', serif; color: black;">
        <strong style="font-family: 'Crimson Text', serif;">Product Photography</strong>
    </h2>
    <span style="font-family: 'Hind Siliguri', sans-serif;">The first thing a consumer notices while buying a product
        online is how it looks. Even if you have a great product, poor quality photographs may end up losing customer’s
        interest in your product. Having professional photographs will pay off greatly by increasing your sales as well
        as brand image. Seventh Square has cataloguing partners to help sellers get the best returns out of online
        stores. You can write to us at seller@seventhsq.com with your city name and we’ll help you out in creating a
        fully optimized catalogue for your store with us. Remember, investing in your online presence now pays off much
        more than anywhere else.</span>

    <h2 style="font-size: 21px; margin: 20px 0px; font-family: 'Source Serif Pro', serif; color: black;">
        <strong style="font-family: 'Crimson Text', serif;">Pricing Strategy</strong>
    </h2>
    <span style="font-family: 'Hind Siliguri', sans-serif;">You might see people selling online at exorbitant prices,
        but that shouldn’t be the case. The customer expects the same price range for offline and online, which results
        in many sellers losing out on potential sales due to high pricing. See your online commerce as another store but
        digitally. Figure out your costs, which could include warehousing, packaging and marketing and set your margins.
        Mostly you’ll get your online store’s price to be lower as you save on physical store’s rent and other expenses
        as well as lower costs of digital marketing. <br><br>You can set your pricing to be stable or competitive as per
        your business objectives.</span>

    <h2 style="font-size: 21px; margin: 20px 0px; font-family: 'Source Serif Pro', serif; color: black;">
        <strong style="font-family: 'Crimson Text', serif;">Shipping Strategy</strong>
    </h2>
    <span style="font-family: 'Hind Siliguri', sans-serif;">Shipping is just as important to the customer as above.
        Seventh Square offers multiple shipping options to give you full control of how your products are sold on the
        marketplace. Choose carefully where to offer free shipping and where to charge shipping. Shipping costs are
        provided in the commercial terms segment in your seller panel.</span>

    <h2 style="font-size: 21px; margin: 20px 0px; font-family: 'Source Serif Pro', serif; color: black;">
        <strong style="font-family: 'Crimson Text', serif;">Customer Feedback</strong>
    </h2>
    <span style="font-family: 'Hind Siliguri', sans-serif;">Does the customer give feedback at your retail space
        regarding store services and product quality? This is the same. It’s extremely valuable here though as their
        feedback is visible publicly. Thus, good customer feedback not only improves your sales but also your brand
        value as it builds trust in your brand and also improves your product ranking in search pages.</span>

    <h2 class="text-center"
        style="font-size: 17px; margin: 0px 30px; font-family: 'Libre Baskerville', serif; color: black;">
        <strong>Still find selling online difficult and confusing? Write to us at <u>seller@seventhsq.com</u> and we’ll
            provide you a partner to help you easily understand online selling and create your own store within a few
            hours.</strong>
    </h2>
</div>
<div class="col-1 col-md-3"></div>
</div>
<div class="row" style="margin: 0px;">
    <div class="col-2"></div>
    <div class="col">{% include "blogstrip.html" %}</div>
    <div class="col-2"></div>
</div>
{% include "footer.html" %}
<script>
  var l = window.location.pathname.split('/')[2];
  document.getElementById('lastword').innerHTML = l;
  var l2 = window.location.pathname.split('/')[1];
  document.getElementById('last2word').innerHTML = l2;
</script>
<script src="/static/staticfiles/js/jquery.min.js"></script>
<script src="/static/staticfiles/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>