{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Seventh Square Corporate</title>
    {% include "styles.html" %}
    {% include "navlogout.html" %}
    <nav aria-label="breadcrumb" style="font-size: 14px;border-bottom: 1px solid rgb(245, 245, 245);">
        <ol class="breadcrumb m-0" style="background-color: #fff;padding: 2px 20px;">
            <li class="breadcrumb-item"><a href="/" style="color:#01011e">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span id="lastword"></span></li>
        </ol>
    </nav>
    <h1 class="text-center" style="margin: 20px;font-family: 'Libre Baskerville', serif;color: black;">
        <strong>Corporate Enquiry</strong>
    </h1>
    <div class="container-fluid canv" style="padding: 0px; width: 70%;">
        <div class="text-center" style="margin: 20px;"><span><strong>Have a bulk purchase requirement?<br>Require a
                    constant supplier for your office furnishings?<br>Looking to build your spaces but don't know
                    where to start?<br><br></strong>Write to us at <a
                    href="mailto: corporate@seventhsq.com?subject = Requirement&body = Message">
                    corporate@seventhsq.com</a> with your requirement or plan.<br>We'll get back to you with solutions
                within 24 hours<br><br><strong>Or arrange a call from us here:</strong></span>
        </div>
        <form method="POST" action="/afterpartner/" style="display: block; padding: 20px;">
            {% csrf_token %}
            <div class="col-12 col-md-6 offset-md-3" id="message">
                <div class="form-group"><label>Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i
                                    class="fas fa-user"></i></span></div><input class="form-control" type="text"
                            id="from-name" name="name" required="" placeholder="Full Name">
                    </div>
                </div>
                <div class="form-group"><label>Contact Number</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i
                                    class="fas fa-phone"></i></span></div><input class="form-control" type="number"
                            id="from-phone" name="numb" required="" placeholder="Primary Phone" maxlength="10"
                            pattern="(6|7|8|9)\d{9}" inputmode="tel">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col"><button class="btn btn-primary btn-block" type="submit"
                                style="background: #01012e;">Request</button></div>
                    </div>
                </div>
            </div>
        </form>
        <h2 style="font-size: 28px; margin: 20px; font-family: 'Crimson Text', serif; color: black;">
            <strong>Benefits of Bulk Purchase with Us:</strong>
        </h2>
        <div class="row" style="margin: 20px;">
            <ul>
                <li>Discounted Pricing</li>
                <li>No Payment Gateway Charges. Direct account transfers available</li>
                <li>Delivery at your doorstep</li>
                <li>Easy returns & replacements</li>
                <li>Get products from best sellers as per your location</li>
                <li>Get GST invoice for Input tax credit</li>
                <li>Get special access to platform’s products and services</li>
            </ul>
        </div>
        <h2 style="font-size: 28px; margin: 20px; font-family: 'Crimson Text', serif; color: black;">
            <strong>Bulk Purchase Steps:
            </strong>
        </h2>
        <div class="row" style="margin: 20px;">
            <ul>
                <li><strong>Step 1: </strong>Send us your query/requirement including product, brief description,
                    quantity, expected price, expected delivery date, contact name, contact number and entity name.
                </li>
                <li><strong>Step 2: </strong>Out team will review your requirement and prepare a detailed quote for
                    you with customized prices and send it to you. </li>
                <li><strong>Step 3: </strong>You can review the quote, confirm it and make the payment. After that,
                    sit back and track your order!</li>
            </ul>
        </div>
    </div>

    {% include "footer.html" %}
    <script>
        var l = window.location.pathname.split('/')[1];
        document.getElementById('lastword').innerHTML = l;
    </script>
    <script src="/static/staticfiles/js/jquery.min.js"></script>
    <script src="/static/staticfiles/bootstrap/js/bootstrap.min.js"></script>
    </body>

</html>