
</head>

<body>
  <nav class="navbar navbar-light navbar-expand shadow topbar static-top" style="background: black;">
    <div class="container-fluid"><a href="/"><img src="https://seller.seventhsq.com/static/staticfiles/img/white%20png%20(1).png"
        height="40px" /></a>
      <ul class="nav navbar-nav flex-nowrap ml-auto">
        <li class="nav-item dropdown no-arrow"><a class="nav-link" href="/"><i class="fa fa-home"></i></a></li>
        <li class="nav-item dropdown no-arrow"><a class="nav-link" href="/">Login/Signup</a></li>
      </ul>
    </div>
  </nav>