<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Contact Seventh Square</title>
  {% include "styles.html" %}
  {% include "navlogout.html" %}
  
<div class="alert alert-{{col}} text-center" style="margin: 0% 5%;">
  <strong>{{msg}}</strong>
</div>
<nav aria-label="breadcrumb" style="font-size: 15px;">
    <ol class="breadcrumb" style="background-color: #fff;padding: 2px 20px;margin-bottom: 0px!important;">
      <li class="breadcrumb-item"><a href="/" style="color:#01011e">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><span id="lastword"></span></li>
    </ol>
  </nav>

<div class="row" style="margin: 0px;">
    <div class="col-0 col-md-1"></div>
    <div class="col text-center">
      <h1 style="color: rgb(0,0,0);margin: 20px;font-family: 'GFS Didot', serif;font-weight: 700;">We are happy to help
        you.</h1>
      <h1 style="color: rgb(0,0,0);font-size: 17px;font-family: Assistant, sans-serif;">Select a category to start with.
      </h1>
      <div class="row row-cols-2 row-cols-md-4 text-center" style="margin: 3%;">
        <div class="col" style="padding: 15px;"><a href="/faqs/account/"><button class="btn btn-secondary" type="button"
              style="background: white;padding: 20px 40px;border: 2px solid rgba(156,156,156,0.43) ;"><i
                class="icon-user d-block" style="color: #010144;font-size: 55px;"></i><label
                style="color: #01012e;margin: 10px 0px;font-weight: 700;">Account</label></button></a></div>
        <div class="col" style="padding: 15px;"><a href="/faqs/advertising/"><button class="btn btn-secondary"
              type="button" style="background: white;padding: 20px 30px;border: 2px solid rgba(156,156,156,0.43);"><i
                class="la la-bullhorn d-block" style="color: #010144;font-size: 55px;"></i><label
                style="color: #01012e;margin: 10px 0px;font-weight: 700;">Advertising</label></button></a></div>
        <div class="col" style="padding: 15px;"><a href="/faqs/dashboard/"><button class="btn btn-secondary"
              type="button" style="background: white;padding: 12px 31px;border: 2px solid rgba(156,156,156,0.43);"><i
                class="icon ion-android-apps d-block" style="color: #010144;font-size: 55px;"></i><label
                style="color: #01012e;font-weight: 700;">Dashboard</label></button></a></div>
        <div class="col" style="padding: 15px;"><a href="/faqs/orders/"><button class="btn btn-secondary" type="button"
              style="background: white;padding: 11px 45px;border: 2px solid rgba(156,156,156,0.43);"><i
                class="icon ion-ios-box-outline d-block" style="color: #010144;font-size: 55px;"></i><label
                style="color: #01012e;margin-bottom: 10px;font-weight: 700;">Orders</label></button></a></div>
        <div class="col" style="padding: 15px;"><a href="/faqs/pricing/"><button class="btn btn-secondary" type="button"
              style="background: white;padding: 20px 35px;border: 2px solid rgba(156,156,156,0.43);"><i
                class="la la-credit-card d-block" style="color: #010144;font-size: 55px;"></i><label
                style="color: #01012e;margin: 10px 0px;font-weight: 700;">Payments</label></button></a></div>
        <div class="col" style="padding: 15px;"><a href="/faqs/policies/"><button class="btn btn-secondary"
              type="button" style="background: white;padding: 20px 45px;border: 2px solid rgba(156,156,156,0.43);"><i
                class="la la-file-text d-block" style="color: #010144;font-size: 55px;"></i><label
                style="color: #01012e;margin: 10px 0px;font-weight: 700;">Policies</label></button></a></div>
        <div class="col" style="padding: 15px;"><a href="/faqs/registration/"><button class="btn btn-secondary"
              type="button" style="background: white;padding: 20px 25px;border: 2px solid rgba(156,156,156,0.43);"><i
                class="la la-user-plus d-block" style="color: #010144;font-size: 55px;"></i><label
                style="color: #01012e;margin: 10px 0px;font-weight: 700;">Registration</label></button></a></div>
        <div class="col" style="padding: 15px;"><a href="/faqs/shipping/"><button class="btn btn-secondary"
              type="button" style="background: white;padding: 15px 13px;border: 2px solid rgba(156,156,156,0.43);"><i
                class="la la-refresh d-block" style="color: #010144;font-size: 55px;"></i><label
                style="color: #01012e;margin: 10px 10px;font-weight: 700;width: 100px;margin-bottom: 0px;">Shipping &
                Returns</label></button></a></div>
      </div>
      <div>
        <h2 class="divider-style"><span class="border rounded-pill shadow-sm"
            style="color: var(--gray);font-weight: 700;">OR</span></h2>
      </div>
      <div class="row" style="padding: 0px;margin: 0px;">
        <div class="col-md-12 mb-4">
          <h2 class="text-center mt-4" style="color: #010144;font-weight: 700;margin: 0px;">Couldn't find your answer ?
          </h2>
          <h5 class="text-center mb-4" style="color: rgba(62,62,62,0.57);margin-bottom: 30px;font-weight: 700;">Reach
            out to us.</h5>
        </div>
        <!--Section: Contact v.1-->
        <section class="section" style="width: 100%;">

          <div class="row" style="margin: 0px;">

            <!--Grid column-->
            <div class="col-12 col-lg-6 mb-4" style="padding: 0px 30px;">
              <i class="fas fa-envelope" style="font-size: 50px;margin: 10px;"></i>
              <h4 style="margin-bottom: 30px;">Write To Us</h4>
              <form id="my-form" method="POST" action="/aftercontact/">
                {% csrf_token %}
                <div class="form-group"><input class="form-control" type="text" id="firstname" name="fname" required=""
                    placeholder="Your Name" style="border-style: none;border-bottom: 2px solid rgba(154,154,154,0.5) ;">
                </div>
                <div class="form-group"><input class="form-control" type="tel" id="phonenumber" name="phonenumber"
                    required="" placeholder="Phone"
                    style="border-style: none;border-bottom: 2px solid rgba(154,154,154,0.5) ;"></div>
                <div class="form-group"><input class="form-control" type="text" id="email" name="email" required=""
                    placeholder="Email" style="border-style: none;border-bottom: 2px solid rgba(154,154,154,0.5) ;">
                </div>
                <div class="form-group"><select required class="form-control" name="subj" id="options"
                    style="width:100%; height:35px;border-style: none;border-bottom: 2px solid rgba(154,154,154,0.5) ;">
                    <option value="" disabled selected>Subject</option>
                    <option value="Customer Reviews">Customer Reviews</option>
                    <option value="Dashboard">Dashboard</option>
                    <option value="Delivery">Delivery</option>
                    <option value="GST">GST</option>
                    <option value="Marketplace Fees">Marketplace Fees</option>
                    <option value="Payments">Payments</option>
                    <option value="Registeration">Registeration</option>
                    <option value="Returns & Cancellation">Returns & Cancellation</option>
                    <option value="Shipping">Shipping</option>
                    <option value="Uploading a Product">Uploading a Product</option>
                    <option value="Other">Other</option>
                  </select></div>
                <div class="form-group"><textarea class="form-control" name="msg" required=""
                    placeholder="Detail Your Query" rows="8"
                    style="border: 2px solid rgba(154,154,154,0.5) ;"></textarea></div><button
                  class="btn btn-light btn-lg" id="form-btn" type="submit"
                  style="background: #010121;color: white; font-size: 14px;padding: 5px 65px;">SEND </button>
              </form>
            </div>
            <div class="col-12 col-lg-6">

              <!--Google map-->
              <div id="map-container-google-11" class="z-depth-1-half map-container-6 mb-4" style="height: 400px">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d847.2973262571658!2d75.75015006103227!3d26.956794053515146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db3031bae50d9%3A0x816cb9713e591072!2sSeventh%20Square!5e0!3m2!1sen!2sin!4v1610049063944!5m2!1sen!2sin"
                  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
              </div>

              <br>
              <!--Buttons-->
              <div class="row text-center">
                <div class="col-md-6">
                  <button class="btn btn-primary border rounded-circle mb-3" type="button"
                    style="font-size: 20px;height: 65px;"><i class="fas fa-map-marker-alt"></i></button>
                  <p>75, Jhotwara Industrial Area, Jhotwara Road, Jaipur, Rajasthan 302012</p>
                </div>

                <div class="col-md-6">
                  <a href="/faqs/general/"><button class="btn btn-primary border rounded-circle mb-3" type="button"
                      style="font-size: 20px;height: 65px;"><i class="fas fa-question"></i></button></a>
                  <p>General FAQs</p>
                </div>

                <div class="col-md-6">
                  <button class="btn btn-primary border rounded-circle mb-3" type="button"
                    style="font-size: 20px;height: 65px;"><i class="fas fa-phone"></i></button>
                  <p>+91 9887711126</p>
                </div>

                <div class="col-md-6">
                  <button class="btn btn-primary border rounded-circle mb-3" type="button"
                    style="font-size: 20px;height: 65px;"><i class="fas fa-envelope"></i></button>
                  <p>care@seventhsq.com</p>
                </div>
              </div>
            </div>
            <!--Grid column-->

          </div>

        </section>

        <!--Section: Contact v.1-->
      </div>
    </div>
    <div class="col-0 col-md-1"></div>
</div>

{% include "footer.html" %}
<script>
  var l = window.location.pathname.split('/')[1];
  document.getElementById('lastword').innerHTML = l;
</script>
<script src="/static/staticfiles/js/jquery.min.js"></script>
<script src="/static/staticfiles/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>