<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Seventh Square Seller</title>
  {% include "styles.html" %}
  {% include "navlogout.html" %}
<div class="alert alert-{{col}} text-center" style="margin: 0% 5%;">
    <strong>{{msg}}</strong>
</div>
<div class="row" style="margin:0px;">
    <div class="col-12 col-md-2"></div>
    <div class="col-4 px-4"><img class="d-none float-left d-lg-block" src="/static/staticfiles/img/Seller%20Login.png"
            style="width: 100%;"></div>
    <div class="col-12 col-md-4 register">
        <form class="text-center" method="POST" action="/afterlogin/" style="padding: 15px;">
            {% csrf_token %}
            <h4 class="text-capitalize text-center text-monospace my-3" style="padding: 20px 0px; font-size: xx-large;">
                <strong>Login</strong>&nbsp;account
            </h4>
            <div class="form-group my-4"><input class="form-control" type="text" required name="mobile"
                    placeholder="Email/Contact No."></div>
            <div class="form-group my-4"><input class="form-control" type="password" id="password-field" required name="pass"
                    placeholder="Password"><span toggle="#password-field" onclick="myFunction()"
                    class="ion ion-eye field-icon toggle-password" style="font-size: 22px;"></span>
                <div class="float-right my-4"><a class="already" href="#myModal" style="color: #091030;text-align: right;"
                        data-toggle="modal">Forgot Password?</a></div>
            </div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit"
                    style="background: #091030;">Log In</button></div><a class="text-capitalize already"
                href="account/register.html">New Seller? <u>Register here</u></a>
        </form>
    </div>
    <div class="col-12 col-md-2"></div>
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="text-align: center;">Forgot Password&nbsp;</h5><button type="button" class="close"
                    data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p class="text-center text-muted">Enter Your Registered Number.</p>
                <form method="post">
                    <div class="form-group"><input class="form-control" type="number" name="numb"
                            placeholder="Contact No." required=""></div>
                </form>
            </div>
            <div class="modal-footer"><button class="btn btn-light" data-dismiss="modal"
                    type="button">Close</button><button class="btn btn-primary" type="submit"
                    style="margin-top: 4px;background: #091030;">Submit</button></div>
        </div>
    </div>
</div>

{% include "footer.html" %}
<script>
    function myFunction() {
        var x = document.getElementById("password-field");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>

<script>
  var l = window.location.pathname.split('/')[1];
  document.getElementById('lastword').innerHTML = l;
</script>
<script src="/static/staticfiles/js/jquery.min.js"></script>
<script src="/static/staticfiles/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>