{% extends 'seller_faq.html' %}

{% block body%}
<div class="row" style="margin: 0px;">
<div class="col-12 col-md-2"></div>
<div class="col" style="margin: 0px 20px;">
  <h1 class="text-center"
    style="margin: 30px 0px; color: black;font-weight: 700;font-family:'Times New Roman', Times, serif;">Advertising
    FAQs</h1>
  <div class="accordion_bk">
    <div class="mx-auto">
      <!-- Accordion -->
      <div id="accordionExample" class="accordion">

        <!-- Accordion item 1 -->
        <div class="card">
          <div id="f1" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f1-1" aria-expanded="true"
                aria-controls="f1-1" class="d-block position-relative text-dark text-uppercase py-2"><strong>1.</strong>
                &nbsp;What is Seventh Square Advertising?</span></h6>
          </div>
          <div id="f1-1" aria-labelledby="f1" data-parent="#accordionExample" class="collapse show">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Seventh Square offers Advertising & Promotional options for sellers who
                want market their brand as well as their products. This helps them get better visibility on the platform
                and increases their sales. </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 2 -->
        <div class="card">
          <div id="f2" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f2-1" aria-expanded="false"
                aria-controls="f2-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>2.</strong>
                &nbsp;What advertising options does Seventh Square have?</span></h6>
          </div>
          <div id="f2-1" aria-labelledby="f2" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Seventh Square offers 3 options to sellers to advertise their product and
                brand to visitors: <br><br>
              <ul>
                <li>Sponsored Products</li>
                <li>Sponsored Brands</li>
                <li>Brand Pages</li>
              </ul>
              </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 3 -->
        <div class="card">
          <div id="f3" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f3-1"
                aria-expanded="false" aria-controls="f3-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>3.</strong>
                &nbsp;What is Sponsored Products?</span></h6>
          </div>
          <div id="f3-1" aria-labelledby="f3" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Increase your product’s visibility to visitors by ranking on top of
                search results as customers search for a specific keyword. This helps you gain traction among the
                customers and helps build sales as well as brand value. </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 4 -->
        <div class="card">
          <div id="f4" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f4-1"
                aria-expanded="false" aria-controls="f4-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>4.</strong>
                &nbsp;What is Sponsored Brands?</span></h6>
          </div>
          <div id="f4-1" aria-labelledby="f4" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Let customers know you’re the premier in your category by showcasing your
                brand on the front page as well as relevant product pages with our Sponsored Brands. This helps you
                increase your brand value as customers see your banner while searching for Home Products and associate
                your name with the category.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 5 -->
        <div class="card">
          <div id="f5" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f5-1"
                aria-expanded="false" aria-controls="f5-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>5.</strong>
                &nbsp;What is Brand Pages?</span></h6>
          </div>
          <div id="f5-1" aria-labelledby="f5" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">If you have a good portfolio, you might want to create a separate store
                for your brand on Seventh Square. Customers will see option to visit your store on Seventh Square many
                times while searching for keywords relevant to you.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 6 -->
        <div class="card">
          <div id="f6" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f6-1"
                aria-expanded="false" aria-controls="f6-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>6.</strong>
                &nbsp;How much does it cost to advertise on Seventh Square?</span></h6>
          </div>
          <div id="f6-1" aria-labelledby="f6" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Advertising spend is relevant when compared to change in sales. So, we
                have kept most of it variable depending on various factors. Please reach out on
                <u>seller@seventhsq.com</u> for detailed information as per your requirements.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 7 -->
        <div class="card">
          <div id="f7" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f7-1"
                aria-expanded="false" aria-controls="f7-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>7.</strong>
                &nbsp;I still have some doubts. How do I address them?</span></h6>
          </div>
          <div id="f7-1" aria-labelledby="f7" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">You can reach out to Seventh Square’s Seller Help at
                <u>seller@seventhsq.com</u> or write to us <a href="/contact/" target="__blank">here</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a href="/faqs/account/" id="back-to-prev" title="Back to top" class="foter-1" style="display: none;"><i class="fa fa-angle-left"></i></a>
<a href="/faqs/orders/" id="back-to-top" title="Back to top" class="foter-1" style="display: none;"><i class="fa fa-angle-right"></i></a>
<div class="col-md-3 foter-2" style="margin-top: 50px;border-left: 1px solid rgb(222,222,222) ;">
  <h5 style="margin-bottom: 30px;font-weight: 500;">Explore More Topics</h5>
  <a href="/faqs/account/">
    <div style="padding: 10px 25px;color: black;"><strong>Account FAQs</strong></div>
  </a>
  <a href="/faqs/advertising/">
    <div style="padding: 5px 20px;color: white !important;background-color: #01011e;"><strong>Advertising FAQs</strong>
    </div>
  </a>
  <a href="/faqs/orders/">
    <div style="padding: 10px 25px;color: black;"><strong>Orders FAQs</strong></div>
  </a>
  <a href="/faqs/dashboard/">
    <div style="padding: 10px 25px;color: black;"><strong>Dashboard FAQs</strong></div>
  </a>
  <a href="/faqs/pricing/">
    <div style="padding: 10px 25px;color: black;"><strong>Pricing & Payments FAQs</strong></div>
  </a>
  <a href="/faqs/policies/">
    <div style="padding: 10px 25px;color: black;"><strong>Policies FAQs</strong></div>
  </a>
  <a href="/faqs/registration/">
    <div style="padding: 10px 25px;color: black;"><strong>Registration FAQs</strong></div>
  </a>
  <a href="/faqs/shipping/">
    <div style="padding: 10px 25px;color: black;"><strong>Shipping & Returns FAQs</strong></div>
  </a>
  <a href="/faqs/general/">
    <div style="padding: 10px 25px;color: black;"><strong>General FAQs</strong></div>
  </a>
  <a href="/pricecalculator/">
    <div style="padding: 10px 25px;color: black;"><strong>Price Calculator</strong></div>
  </a>
  <!-- <div style="padding: 10px 25px;color: black;"><strong>Account FAQs</strong></div> -->
</div>
</div>
{%endblock%}