{% extends 'seller_faq.html' %}

{% block body%}
<div class="row" style="margin: 0px;">
<div class="col-12 col-md-2"></div>
<div class="col" style="margin: 0px 20px;">
  <h1 class="text-center"
    style="margin: 30px 0px; color: black;font-weight: 700;font-family:'Times New Roman', Times, serif;">General FAQs
  </h1>
  <div class="accordion_bk">
    <div class="mx-auto">
      <!-- Accordion -->
      <div id="accordionExample" class="accordion">

        <!-- Accordion item 1 -->
        <div class="card">
          <div id="f1" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f1-1" aria-expanded="true"
                aria-controls="f1-1" class="d-block position-relative text-dark text-uppercase py-2"><strong>1.</strong>
                &nbsp;How can I sell on Seventh Square?</span></h6>
          </div>
          <div id="f1-1" aria-labelledby="f1" data-parent="#accordionExample" class="collapse show">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">You can register yourself as a Seller on the platform through
                seller.seventhsq.com</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 2 -->
        <div class="card">
          <div id="f2" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f2-1" aria-expanded="false"
                aria-controls="f2-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>2.</strong>
                &nbsp;Why should I sell on Seventh Square?</span></h6>
          </div>
          <div id="f2-1" aria-labelledby="f2" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0"><i>“Brand value and Sales are built on Customer Experience now more than
                  Product or Price.”</i><br>We have focused on creating a fulfilling shopping experience for the
                customers whenever they are shopping for their home or workspace.
                <br><br><strong>Choices</strong><br>With the help of sellers from across the country, customers now have
                more options for the same product than ever. Also, they can shop for the first brick to the last cushion
                at a single destination in a single order. This helps them build their space much better at lower
                prices. <br><br><strong>Design Room</strong><br>Customers now can see how your products look in their
                own background. This will directly increase your sales from our platform given increased customer
                satisfaction. This is done using our own software and tech without any costs to you.
                <br><br><strong>Installation</strong><br>If you service categories which require installation such as
                Kitchen sinks or Bed & Wardrobes, we provide an extra installation service to the customers, which they
                can avail on checkout. This does not add up to your costs but helps you provide better customer service.
                <br><br><strong>Easy Payment Options</strong><br>We’ve incorporated as many payment options as possible
                so that the customer can pay as they prefer. We transfer your funds directly to your bank account,
                making it simple for you to receive payments for products sold. <br><br><strong>Seller
                  Benefits</strong><br>From Easy Shipping to streamlined payment policy, we have made it really easy for
                you to expand your business at no extra costs. All you have to do is create an account with us, upload
                your products and start selling! With us, you can directly reach customers across the country who are
                looking to create their spaces sitting at your office and managing everything on a single screen.
                <br><br><strong>Join us today by Registering your business with us! </strong></p>
            </div>
          </div>
        </div>

        <!-- Accordion item 3 -->
        <div class="card">
          <div id="f3" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f3-1"
                aria-expanded="false" aria-controls="f3-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>3.</strong>
                &nbsp;How does Selling on marketplace like Seventh Square works?</span></h6>
          </div>
          <div id="f3-1" aria-labelledby="f3" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">As a marketplace, Seventh Square is an intermediary for sellers and
                buyers. Thus, we only act as service providers and all decisions relating to product is with the seller.
                <br>As a seller, you first have to upload your products on the marketplace using Seventh Square’s
                dedicated seller panel (seller.seventhsq.com). When customers purchase your product on our Website,
                you’ll get a notification with all the details. While delivering, you can choose to ship with Seventh
                Square or self-ship to the customer’s address. You’ll receive payments directly to your bank account no
                matter how the customer chooses to pay. </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 4 -->
        <div class="card">
          <div id="f4" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f4-1"
                aria-expanded="false" aria-controls="f4-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>4.</strong>
                &nbsp;What products can I sell on Seventh Square?</span></h6>
          </div>
          <div id="f4-1" aria-labelledby="f4" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Seventh Square is a specialized marketplace for Home Products. With the
                widest range, we virtually cover every aspect of Home Building. Here’s a list of categories to guide you
                with us: <br><br>
              <ul>
                <li>Lighting</li>
                <li>Bath & Kitchen </li>
                <li>Furniture</li>
                <li>Furnishings</li>
                <li>Home Décor</li>
                <li>Hardware & Improvement </li>
                <li>Building Materials</li>
              </ul>
              </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 5 -->
        <div class="card">
          <div id="f5" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f5-1"
                aria-expanded="false" aria-controls="f5-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>5.</strong>
                &nbsp;What are the charges related to selling on Seventh Square?</span></h6>
          </div>
          <div id="f5-1" aria-labelledby="f5" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Seventh Square has the least overall charges to seller, thus actually
                helping you grow your business! <br>SS doesn’t charge any listing or registration fees, rather only when
                products are sold. <br>For every product sold, there is a marketplace commission which is charged on the
                final price sold to the customer. In addition, there is shipping and processing charge which are
                forwarded to respective partners (delivery partner and Payment Gateway). <br>By keeping these simple and
                low, we look forward to create a community of sellers, who actually benefit by selling online.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 6 -->
        <div class="card">
          <div id="f6" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f6-1"
                aria-expanded="false" aria-controls="f6-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>6.</strong>
                &nbsp;How much Commission does Seventh Square takes?</span></h6>
          </div>
          <div id="f6-1" aria-labelledby="f6" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">We charge the lowest commission in the industry! For Sellers registering
                before commercial launch, they are entitled to pay just 5% marketplace commission for the first year.
                For Sellers registering after launch, refer to commercial term segment available in policies tab.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 7 -->
        <div class="card">
          <div id="f7" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f7-1"
                aria-expanded="false" aria-controls="f7-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>7.</strong>
                &nbsp;How do I start selling on Seventh Square?</span></h6>
          </div>
          <div id="f7-1" aria-labelledby="f7" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">After registering yourself as a seller and filling out the rest of the
                required details & documents, you can add products and begin selling. <br>We’ve made the whole process
                simple for you. As soon as you register, you’ll see a pop-up/lightbox to fill out rest of the required
                information. Filling out there helps you get your account verified sooner and you won’t have to later
                figure out how to proceed. <br>We also send emails on your registered email address so you don’t have to
                worry about anything.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 8 -->
        <div class="card">
          <div id="f8" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f8-1"
                aria-expanded="false" aria-controls="f8-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>8.</strong>
                &nbsp;What other charges are related to products sold online?</span></h6>
          </div>
          <div id="f8-1" aria-labelledby="f8" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Seventh Square has minimal charges. Except marketplace commission, only
                shipping and payment charges are deducted from the selling price.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 9 -->
        <div class="card">
          <div id="f9" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f9-1"
                aria-expanded="false" aria-controls="f9-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>9.</strong>
                &nbsp;If I list my products on Seventh Square, will the customers see my name?</span></h6>
          </div>
          <div id="f9-1" aria-labelledby="f9" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Yes. Your company name will be visible to the customers on the product
                page as well as on the invoice. </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 10 -->
        <div class="card">
          <div id="f10" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f10-1"
                aria-expanded="false" aria-controls="f10-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>10.</strong>
                &nbsp;Who sets the Price of the products?</span></h6>
          </div>
          <div id="f10-1" aria-labelledby="f10" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">As a seller you set the price of the products. As a marketplace, we take
                commission on selling price of products sold.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 11 -->
        <div class="card">
          <div id="f11" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f11-1"
                aria-expanded="false" aria-controls="f11-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>11.</strong>
                &nbsp;Can I get help for development of Catalog including Images, Descriptions, etc.?</span></h6>
          </div>
          <div id="f11-1" aria-labelledby="f11" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Yes. We’re there to help you with every part of your journey with Seventh
                Square. Please reach out on seller@seventhsq.com for the same. We’ll get back within 24 hours. With the
                help of our catalog partners, you can have unbeatable listings at the most affordable prices. </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 12 -->
        <div class="card">
          <div id="f12" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f12-1"
                aria-expanded="false" aria-controls="f12-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>12.</strong>
                &nbsp;How should I price my products for the platform?</span></h6>
          </div>
          <div id="f12-1" aria-labelledby="f12" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">As a basic, product price should always be affordable for the customers.
                To help with that, we have kept our commissions low without any extra charges, so sellers can sell at
                lower prices and still keep their margins. For more clarity, you can use our Price Calculator.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 13 -->
        <div class="card">
          <div id="f13" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f13-1"
                aria-expanded="false" aria-controls="f13-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>13.</strong>
                &nbsp;Will the customer see my name when I’m selling on Seventh Square?</span></h6>
          </div>
          <div id="f13-1" aria-labelledby="f13" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Yes. We display the company details on the product page. It’s also
                mentioned on the invoice that’s sent with the order.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 14 -->
        <div class="card">
          <div id="f14" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f14-1"
                aria-expanded="false" aria-controls="f14-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>14.</strong>
                &nbsp;What is the breakdown of pricing structure of SS?</span></h6>
          </div>
          <div id="f14-1" aria-labelledby="f14" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Seventh Square’s marketplace fee includes: <br><br>
              <ul>
                <li>Marketplace Commission, which is a fixed percentage of the total amount the customer pays. This
                  percentage is different for different product categories. Please refer to Commercial Term Segment for
                  detailed commission table. </li>
                <li>Payment Processing, is the payment gateway or cash collection charge which is collected on total
                  product price paid by the customer. It is fixed at 3% of total order amount. </li>
                <li>Shipping Charges varies as per product weight. Seventh Square has a fixed rate shipping policy and
                  offers you a single rate based on product weight. This is only charged on orders shipped with Seventh
                  Square.</li>
              </ul>
              </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 15 -->
        <div class="card">
          <div id="f15" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f15-1"
                aria-expanded="false" aria-controls="f15-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>15.</strong>
                &nbsp;Can I offer services on/to Seventh Square?</span></h6>
          </div>
          <div id="f15-1" aria-labelledby="f15" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Yes. Seventh Square welcomes partners in the following areas: <br><br>
              <ul>
                <li>Interior Designing</li>
                <li>Interior & Construction Blogging</li>
                <li>Cataloguing </li>
                <li>Installation services</li>
                <li>Packaging Material</li>
              </ul>Reach out to our team for any proposal at <u>partners@seventhsq.com</u>.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 16 -->
        <div class="card">
          <div id="f16" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f16-1"
                aria-expanded="false" aria-controls="f16-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>16.</strong>
                &nbsp;Can customers leave feedback or reviews?</span></h6>
          </div>
          <div id="f16-1" aria-labelledby="f16" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Yes. Customers can rate and review your products. </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 17 -->
        <div class="card">
          <div id="f17" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f17-1"
                aria-expanded="false" aria-controls="f17-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>17.</strong>
                &nbsp;If any issue, how do I reach out to SS?</span></h6>
          </div>
          <div id="f17-1" aria-labelledby="f17" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">You can reach out to us at seller@seventhsq.com or call/text us at
                +91-9887711126. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a href="/faqs/shipping/" id="back-to-prev" title="Back to top" class="foter-1" style="display: none;"><i class="fa fa-angle-left"></i></a>
<div class="col-md-3 foter-2" style="margin-top: 50px;border-left: 1px solid rgb(222,222,222) ;">
  <h5 style="margin-bottom: 30px;font-weight: 500;">Explore More Topics</h5>
  <a href="/faqs/account/">
    <div style="padding: 10px 25px;color: black;"><strong>Account FAQs</strong></div>
  </a>
  <a href="/faqs/advertising/">
    <div style="padding: 10px 25px;color: black;"><strong>Advertising FAQs</strong></div>
  </a>
  <a href="/faqs/orders/">
    <div style="padding: 10px 25px;color: black;"><strong>Orders FAQs</strong></div>
  </a>
  <a href="/faqs/dashboard/">
    <div style="padding: 10px 25px;color: black;"><strong>Dashboard FAQs</strong></div>
  </a>
  <a href="/faqs/pricing/">
    <div style="padding: 10px 25px;color: black;"><strong>Pricing & Payments FAQs</strong></div>
  </a>
  <a href="/faqs/policies/">
    <div style="padding: 10px 25px;color: black;"><strong>Policies FAQs</strong></div>
  </a>
  <a href="/faqs/registration/">
    <div style="padding: 10px 25px;color: black;"><strong>Registration FAQs</strong></div>
  </a>
  <a href="/faqs/shipping/">
    <div style="padding: 10px 25px;color: black;"><strong>Shipping & Returns FAQs</strong></div>
  </a>
  <a href="/faqs/general/">
    <div style="padding: 5px 20px;color: white !important;background-color: #01011e;"><strong>General FAQs</strong>
    </div>
  </a>
  <a href="/pricecalculator/">
    <div style="padding: 10px 25px;color: black;"><strong>Price Calculator</strong></div>
  </a>
  <!-- <div style="padding: 10px 25px;color: black;"><strong>Account FAQs</strong></div> -->
</div>
</div>
{%endblock%}