<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
    <title>email</title>
    <style>
    	@media only screen and (max-width: 400px){
    		.screen{
    			width: 320px;
    		}

    	}
    	@media only screen and (min-width: 400px){
    		.screen{
    			width: 640px;
                margin-left: 20%;
    		}

    	}
    </style>
</head>

<body class="text-center" style="display: inline-grid; align-items: center;justify-content: center;">
        <div style="background-image: url('https://seller.seventhsq.com/static/staticfiles/email/WELCOME%20EMAIL%20TEMPLATE%20-%20top-1.png');"></div>
    <div class="text-center screen" style="display: inline-grid; align-items: center;justify-content: center;"><img src="https://seller.seventhsq.com/static/staticfiles/email/WELCOME%20EMAIL%20TEMPLATE%20-%20top-1.png" style="width: 100%;"><a href="https://seller.seventhsq.com/"><img
                src="https://seller.seventhsq.com/static/staticfiles/email/add%20prod.png" style="width: 100%;"></a>
        <img src="https://seller.seventhsq.com/static/staticfiles/email/WELCOME%20EMAIL%20TEMPLATE%20-%20top%20d.png" style="width: 100%;">
        <div style="text-align: center;">
                <a href="https://www.facebook.com/Seventh-Square-101727191683337/"><img src="https://seller.seventhsq.com/static/staticfiles/email/facebook.png" style="height: 40px;margin: 10px;"></a>
                <a href="https://www.instagram.com/seventhsquare/"><img src="https://seller.seventhsq.com/static/staticfiles/email/instagram.png" style="height: 40px;margin: 10px;"></a>
                <a href="https://www.linkedin.com/company/seventh-square"><img src="https://seller.seventhsq.com/static/staticfiles/email/linkedin.png" style="height: 40px;margin: 10px;"></a>
                <a href="https://www.pinterest.com/seventhsq/"><img src="https://seller.seventhsq.com/static/staticfiles/email/pinterest.png" style="height: 40px;margin: 10px;"></a>
                </div>
        <img src="https://seller.seventhsq.com/static/staticfiles/email/WELCOME%20EMAIL%20TEMPLATE%20-%20down.png" style="width: 100%;">
        <div style="width: 100%; background: #feeec7;text-align: center;padding: 3px;"><a href="#"
                style="color: #5f594a;font-size: 10px;"><strong><span style="text-decoration: underline;">Access your
                        account</span></strong></a><a href="#"
                style="color: #5f594a;font-size: 10px;padding-left: 15px;padding-right: 15px;"><strong><span
                        style="text-decoration: underline;">Change Password</span></strong></a>
            <a href="#" style="color: #5f594a;font-size: 10px;"><strong><span style="text-decoration: underline;">Reach
                        Out to us</span></strong></a>
        </div>
    </div>
</body>

</html>