{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Seventh Square Seller</title>

    {% include "styles.html" %}
    {% include "navlogin.html" %}

    <nav aria-label="breadcrumb" style="font-size: 14px;border-bottom: 1px solid rgb(245, 245, 245);">
        <ol class="breadcrumb m-0" style="background-color: #fff;padding: 2px 20px;">
            <li class="breadcrumb-item"><a href="/" style="color:#01011e">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span id="lastword"></span></li>
        </ol>
    </nav>
    <div class="row" style="margin: 0px;">
        <div class="col d-none d-lg-block"
            style="max-width: 19%;padding-left: 5px;border-right: 1px solid rgb(221, 221, 221);">
            <div class="list-group" style="margin-top: 10px;">

                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button" href="/"><i
                        class="fa fa-home" style="margin-right: 10px;"></i>Home</a>
                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button"><i
                        class="fas fa-shopping-cart" style="margin-right: 10px;"></i>Orders</a>
                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button" href="/coming/"><i
                        class="fas fa-shopping-cart" style="margin-left: 20px;margin-right: 10px;"></i>Current
                    Orders</a>

                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button" href="/coming/"><i
                        class="fas fa-shopping-cart" style="margin-left: 20px;margin-right: 10px;"></i>Past Orders</a>

                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button"><i
                        class="fas fa-box" style="margin-right: 10px;"></i>Products</a>
                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button"
                    href="/newproduct/"><i class="fas fa-box" style="margin-left: 20px;margin-right: 10px;"></i>Add New
                    Product</a>
                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button"
                    href="/viewproducts/"><i class="fas fa-box" style="margin-left: 20px;margin-right: 10px;"></i>Active
                    Products</a>

                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button" href="/coming/"><i
                        class="fas fa-cash-register" style="margin-right: 10px;"></i>Payment
                    History</a>
                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button" href="/coming/"><i
                        class="fas fa-file-signature" style="margin-right: 10px;"></i>Reports &
                    Performance</a>
                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button" href="/coming/"><i
                        class="fas fa-comment-alt" style="margin-right: 10px;"></i>Customer Reviews</a>
                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button" href="/contact/"><i
                        class="fas fa-headset" style="margin-right: 10px;"></i>Contact Us</a>
                <hr style="margin: 1em;">
                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button"
                    href="/commercial-terms/"><i class="fas fa-book-reader" style="margin-right: 10px;"></i>Commercial
                    Terms</a>
                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button"
                    href="/docverify/"><i class="fas fa-clipboard-check"
                        style="margin-right: 13px; margin-left: 2px;"></i>Document Verification</a>
                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button"
                    href="/faqs/general/"><i class="fas fa-question-circle" style="margin-right: 10px;"></i>General
                    FAQ's</a>
                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button" href="/policy/"><i
                        class="fas fa-vote-yea" style="margin-right: 9px;"></i>Policies</a>
                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button"
                    href="/marketplace/"><i class="fas fa-clipboard-list"
                        style="margin-right: 13px; margin-left: 2px;"></i>Seller Agreement</a>
                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button"
                    href="/guidelines/"><i class="fas fa-book-reader" style="margin-right: 12px;"></i>Seller
                    Guidelines</a>

                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button" href="/terms/"><i
                        class="fas fa-business-time" style="margin-right: 8px;"></i>Terms Of Use</a>
                <hr style="margin: 1em;">
                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button"
                    href="https://www.facebook.com/Seventh-Square-101727191683337/" target="_blank"><i
                        class="fab fa-facebook-f" style="margin-right: 15px;margin-left: 5px;"></i>Facebook</a>
                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button"
                    href="https://www.instagram.com/seventhsquare/" target="_blank"><i class="icon ion-social-instagram"
                        style="margin-right: 14px;margin-left: 5px;"></i>Instagram</a>
                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button"
                    href="https://www.linkedin.com/company/seventh-square" target="_blank"><i class="fab fa-linkedin-in"
                        style="margin-right: 13px;margin-left: 5px;"></i>LinkedIn</a>
                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button"
                    href="https://www.pinterest.com/seventhsq/" target="_blank"><i class="fab fa-pinterest-p"
                        style="margin-right: 15px;margin-left: 5px;"></i>Pinterest</a>
                <a class="btn text-left" style="box-shadow: none;border-radius: 0px;" role="button"
                    href="https://twitter.com/SeventhSq/" target="_blank"><i class="fab fa-twitter"
                        style="margin-right: 11px;margin-left: 5px;"></i>Twitter</a>
            </div>
        </div>
        <div class="col" ><img class="img-fluid" src="/static/staticfiles/img/COMING.png"></div>
</div>
{% include "footer.html" %}

<script>
    var l = window.location.pathname.split('/')[1];
    document.getElementById('lastword').innerHTML = l;
</script>
<script src="/static/staticfiles/js/jquery.min.js"></script>
<script src="/static/staticfiles/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/staticfiles/js/Collapsible-sidebar-left-or-right--Content-overlay.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
</body>

</html>