{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Seventh Square Commercial-Terms</title>
    {% include "styles.html" %}
    {% include "navlogout.html" %}
    <nav aria-label="breadcrumb" style="font-size: 14px;border-bottom: 1px solid rgb(245, 245, 245);">
        <ol class="breadcrumb m-0" style="background-color: #fff;padding: 2px 20px;">
            <li class="breadcrumb-item"><a href="/" style="color:#01011e">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span id="lastword"></span></li>
        </ol>
    </nav>

    <h2 class="text-center" style="margin: 30px;font-family: 'Libre Baskerville', serif; color: black;">
        <strong>COMMERCIAL TERM SEGMENT</strong>
    </h2>
    <!-- <div class="container-fluid canv" style="padding: 0px; width: 70%;"> -->
    <div class="row m-0">
        <div class="col-12 col-md-2"></div>
        <div class="col">
            <h2 style="font-size: 20px; margin: 20px; font-family: 'Crimson Text', serif; color: black;">
                <strong>Part A</strong>
            </h2>
            <h2 style="font-size: 20px; margin: 20px; font-family: 'Crimson Text', serif; color: black;">
                <strong>Marketplace Commission</strong>
            </h2>
            <div class="row" style="margin: 20px;">
                <ul>
                    <li>Sellers registered before platform launch are covered under just 5% commission for first 12
                        months. After this period, they will pay the following commissions on product categories sold by
                        the seller on Seventh Square’s platforms.</li>
                    <li>Sellers registering after platform launch are subject to the following commissions. </li>
                    <li>Marketplace commissions are subject to change notifiable to the sellers through email and/or
                        their panel on the platform.</li>
                </ul>
            </div>
            <div class="table-responsive" style="padding: 0px 20px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="border-width: 1px;border-style: solid;"><strong>Category</strong><br /></th>
                            <th style="border-width: 1px;border-style: solid;"><strong>Sub-Category</strong><br /></th>
                            <th style="border-width: 1px;border-style: solid;"><strong>Commission
                                    Percentage</strong><br /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">Lighting</td>
                            <td style="border-width: 1px;border-style: solid;">LED</td>
                            <td style="border-width: 1px;border-style: solid;">5%</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">Lighting</td>
                            <td style="border-width: 1px;border-style: solid;">Chandeliers<br /></td>
                            <td style="border-width: 1px;border-style: solid;">15%</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">Lighting</td>
                            <td style="border-width: 1px;border-style: solid;">Decorative &amp; Others<br /></td>
                            <td style="border-width: 1px;border-style: solid;">10%</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">Sanitaryware<br /></td>
                            <td style="border-width: 1px;border-style: solid;">Bath Tubs &amp; Jacuzzi<br /></td>
                            <td style="border-width: 1px;border-style: solid;">10%</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">Sanitaryware<br /></td>
                            <td style="border-width: 1px;border-style: solid;">Others<br /></td>
                            <td style="border-width: 1px;border-style: solid;">7%</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">Furniture<br /></td>
                            <td style="border-width: 1px;border-style: solid;"></td>
                            <td style="border-width: 1px;border-style: solid;">7%</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">Furniture<br /></td>
                            <td style="border-width: 1px;border-style: solid;">Mattress<br /></td>
                            <td style="border-width: 1px;border-style: solid;">7%</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">Furnishings<br /></td>
                            <td style="border-width: 1px;border-style: solid;"></td>
                            <td style="border-width: 1px;border-style: solid;">10%</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">Home Décor<br /></td>
                            <td style="border-width: 1px;border-style: solid;"></td>
                            <td style="border-width: 1px;border-style: solid;">10%</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">Home Improvement<br /></td>
                            <td style="border-width: 1px;border-style: solid;">Hardware<br /></td>
                            <td style="border-width: 1px;border-style: solid;">10%</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">Home Improvement<br /></td>
                            <td style="border-width: 1px;border-style: solid;">Others<br /></td>
                            <td style="border-width: 1px;border-style: solid;">7%</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">Building Materials <br /></td>
                            <td style="border-width: 1px;border-style: solid;">Imported Tiles<br /></td>
                            <td style="border-width: 1px;border-style: solid;">7%</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">Building Materials <br /></td>
                            <td style="border-width: 1px;border-style: solid;">Switches, Sockets &amp; Electric
                                Panels<br /></td>
                            <td style="border-width: 1px;border-style: solid;">10%</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">Building Materials <br /></td>
                            <td style="border-width: 1px;border-style: solid;">Others<br /></td>
                            <td style="border-width: 1px;border-style: solid;">5%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h2 style="font-size: 20px; margin: 20px; font-family: 'Crimson Text', serif; color: black;">
                <strong>Part B</strong>
            </h2>
            <h2 style="font-size: 20px; margin: 20px; font-family: 'Crimson Text', serif; color: black;">
                <strong>Payment Collection Fee</strong>
            </h2>
            <div class="row" style="margin: 20px;">
                <ul>
                    <li>Sellers will be charged for using payment gateway and other payment collection methods like
                        Cash-onDelivery.</li>
                    <li>Seventh Square ensures maximum availability of payment methods to customers/users of the
                        platform and a simpler remit to the sellers.</li>
                    <li>A fee of 3% on selling price will be charged as Payment collection fees.</li>
                    <li>This payment collection fees is for using the online payment gateway and/or for cash collection
                        by courier partners.</li>
                </ul>
            </div>
            <h2 style="font-size: 20px; margin: 20px; font-family: 'Crimson Text', serif; color: black;">
                <strong>Part C</strong>
            </h2>
            <h2 style="font-size: 20px; margin: 20px; font-family: 'Crimson Text', serif; color: black;">
                <strong>Shipping Fees</strong>
            </h2>
            <div class="row" style="margin: 20px;">
                <ul>
                    <li>The following shipping fees will be deducted from the selling price.</li>
                    <li>Shipping fees can be adjusted within the selling price or shown differently to the buyers as
                        delivery fee (completely or partially).</li>
                    <li>Shipping fees is based on Product weight (Dead weight or Volumetric) and Shipping Destination.
                    </li>
                    <li>However, Seventh Square has simplified the shipping price for sellers as well as buyers.</li>
                    <li>Volumetric weight will be calculated as : Length*Breadth*Height (in cms) / 4000 . The resulting
                        number would be considered in Kgs.</li>
                    <li>Higher or the Dead Weight or Volumetric Weight would be considered for shipping cost.</li>
                    <li>If, by mistake, the seller enters the wrong weight (as per guidelines), the courier partner will
                        update it and if any gain/loss would be borne by the seller.</li>
                    <li>The rate card is exclusive of Taxes i.e. 18% GST. Input tax credit can be claimed by the sellers
                        on the same.</li>
                </ul>
            </div>

            <div class="table-responsive" style="padding: 0px 20px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="border-width: 1px;border-style: solid;"><strong>Weight (Kgs)</strong><br /></th>
                            <th style="border-width: 1px;border-style: solid;"><strong>Flat Rate (INR)</strong><br />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">0.5</td>
                            <td style="border-width: 1px;border-style: solid;"><i class="fa fa-inr"></i> 50</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">1</td>
                            <td style="border-width: 1px;border-style: solid;"><i class="fa fa-inr"></i> 82.5</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">1.5</td>
                            <td style="border-width: 1px;border-style: solid;"><i class="fa fa-inr"></i> 120</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">2</td>
                            <td style="border-width: 1px;border-style: solid;"><i class="fa fa-inr"></i> 157.5</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">2.5</td>
                            <td style="border-width: 1px;border-style: solid;"><i class="fa fa-inr"></i> 195</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">3</td>
                            <td style="border-width: 1px;border-style: solid;"><i class="fa fa-inr"></i> 232.5</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">4</td>
                            <td style="border-width: 1px;border-style: solid;"><i class="fa fa-inr"></i> 270</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">5</td>
                            <td style="border-width: 1px;border-style: solid;"><i class="fa fa-inr"></i> 307.5</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">6</td>
                            <td style="border-width: 1px;border-style: solid;"><i class="fa fa-inr"></i> 345</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">7</td>
                            <td style="border-width: 1px;border-style: solid;"><i class="fa fa-inr"></i> 382.5</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">8</td>
                            <td style="border-width: 1px;border-style: solid;"><i class="fa fa-inr"></i> 420</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">9</td>
                            <td style="border-width: 1px;border-style: solid;"><i class="fa fa-inr"></i> 457.5</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">10</td>
                            <td style="border-width: 1px;border-style: solid;"><i class="fa fa-inr"></i> 495</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">11</td>
                            <td style="border-width: 1px;border-style: solid;"><i class="fa fa-inr"></i> 532.5</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">12</td>
                            <td style="border-width: 1px;border-style: solid;"><i class="fa fa-inr"></i> 575</td>
                        </tr>
                        <tr>
                            <td style="border-width: 1px;border-style: solid;">(+1)</td>
                            <td style="border-width: 1px;border-style: solid;">(+) <i class="fa fa-inr"></i> 37.5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 col-md-2"></div>
    </div>

    {% include "footer.html" %}
    <script>
        var l = window.location.pathname.split('/')[1];
        document.getElementById('lastword').innerHTML = l;
    </script>
    <script src="/static/staticfiles/js/jquery.min.js"></script>
    <script src="/static/staticfiles/bootstrap/js/bootstrap.min.js"></script>
    </body>

</html>