{% extends 'seller_faq.html' %}

{% block body%}

<div class="row" style="margin: 0px;">
<div class="col-12 col-md-2"></div>
<div class="col" style="margin: 0px 20px;">
  <h1 class="text-center"
    style="margin: 30px 0px; color: black;font-weight: 700;font-family:'Times New Roman', Times, serif;">Account FAQs
  </h1>
  <div class="accordion_bk">
    <div class="mx-auto">
      <!-- Accordion -->
      <div id="accordionExample" class="accordion">

        <!-- Accordion item 1 -->
        <div class="card">
          <div id="f1" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f1-1" aria-expanded="true"
                aria-controls="f1-1" class="d-block position-relative text-dark text-uppercase py-2"><strong>1.</strong>
                &nbsp;How do I register myself as a seller on Seventh Square?</span></h6>
          </div>
          <div id="f1-1" aria-labelledby="f1" data-parent="#accordionExample" class="collapse show">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Visit <a href="/">seller.seventhsq.com</a> to register as a seller.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 2 -->
        <div class="card">
          <div id="f2" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f2-1" aria-expanded="false"
                aria-controls="f2-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>2.</strong>
                &nbsp;How do I start selling on Seventh Square?</span></h6>
          </div>
          <div id="f2-1" aria-labelledby="f2" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">After registering yourself as a seller and filling out the rest of the
                required details & documents, you can add products and begin selling. <br>We’ve made the whole process
                simple for you. As soon as you register, you’ll see a pop-up/lightbox to fill out rest of the required
                information. Filling out there helps you get your account verified sooner and you won’t have to later
                figure out how to proceed. <br>We also send emails on your registered email address so you don’t have to
                worry about anything.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 3 -->
        <div class="card">
          <div id="f3" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f3-1"
                aria-expanded="false" aria-controls="f3-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>3.</strong>
                &nbsp;Is GSTIN mandatory for Selling on Seventh Square?</span></h6>
          </div>
          <div id="f3-1" aria-labelledby="f3" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Yes. As per govt. rules, GSTIN is mandatory for every seller online</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 4 -->
        <div class="card">
          <div id="f4" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f4-1"
                aria-expanded="false" aria-controls="f4-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>4.</strong>
                &nbsp;Is it mandatory to keep Inventory Updated?</span></h6>
          </div>
          <div id="f4-1" aria-labelledby="f4" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">No. But we recommend to keep it updated so that customers who are looking
                for the product do not face any issues. If you’re not keeping inventory updated with us, it is advised
                to keep reasonable inventory for every product you sell to fulfill any incoming orders.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 5 -->
        <div class="card">
          <div id="f5" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f5-1"
                aria-expanded="false" aria-controls="f5-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>5.</strong>
                &nbsp;Do I need to keep account of my orders and transactions from Seventh Square?</span></h6>
          </div>
          <div id="f5-1" aria-labelledby="f5" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Yes. As per Govt. norms, all sellers on e-commerce marketplaces have to
                keep an complete account of their sales and transactions through/with any online marketplace including
                Seventh Square.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 6 -->
        <div class="card">
          <div id="f6" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f6-1"
                aria-expanded="false" aria-controls="f6-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>6.</strong>
                &nbsp;If any issue, how do I reach out to SS?</span></h6>
          </div>
          <div id="f6-1" aria-labelledby="f6" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">You can reach out to us at seller@seventhsq.com or write to us directly
                here.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 7 -->
        <div class="card">
          <div id="f7" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f7-1"
                aria-expanded="false" aria-controls="f7-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>7.</strong>
                &nbsp;Who ships the products purchased by the customer?</span></h6>
          </div>
          <div id="f7-1" aria-labelledby="f7" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Seventh Square has a well defined shipping policy. As a seller, you can
                decide how to ship your product to the customer. <br>You can choose to deliver through Seventh Square or
                use Self-Shipping if you already have an extensive logistics network.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 8 -->
        <div class="card">
          <div id="f8" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f8-1"
                aria-expanded="false" aria-controls="f8-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>8.</strong>
                &nbsp;Where do I choose my Shipping Policy with Seventh Square?</span></h6>
          </div>
          <div id="f8-1" aria-labelledby="f8" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Shipping can be chosen differently for every product added and is
                available as an option when you’re adding a new product. <br>You can also edit the same for an
                added/existing product by going to the ‘Active Products’ section in your seller dashboard.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 9 -->
        <div class="card">
          <div id="f9" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f9-1"
                aria-expanded="false" aria-controls="f9-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>9.</strong>
                &nbsp;Is there any policy, if I don't keep my inventory updated?</span></h6>
          </div>
          <div id="f9-1" aria-labelledby="f9" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">No. It is up to you to keep inventory updated with us. However, we do
                advise to keep sufficient inventory in hand for potential orders. </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 10 -->
        <div class="card">
          <div id="f10" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f10-1"
                aria-expanded="false" aria-controls="f10-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>10.</strong>
                &nbsp;How should I price my products to receive my desired amount?</span></h6>
          </div>
          <div id="f10-1" aria-labelledby="f10" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">We provide you the option to see complete pricing structure before you
                even start uploading your portfolio. With the help of our price calculator, you can see what the
                customer is paying, what we’re accounting for and what is remitted back to you. You also have the
                freedom to choose what the customer should pay or how much you want to receive per order.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 11 -->
        <div class="card">
          <div id="f11" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f11-1"
                aria-expanded="false" aria-controls="f11-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>11.</strong>
                &nbsp;Who can see my company and bank details when filled in the account?</span></h6>
          </div>
          <div id="f11-1" aria-labelledby="f11" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Only Seventh Square will have this information. It is not shared with any
                other partner or customer. </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 12 -->
        <div class="card">
          <div id="f12" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f12-1"
                aria-expanded="false" aria-controls="f12-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>12.</strong>
                &nbsp;I forgot the password for my seller account. What do I do?</span></h6>
          </div>
          <div id="f12-1" aria-labelledby="f12" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Follow the ‘forgot password’ link on the login page to recover/change
                your password.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 13 -->
        <div class="card">
          <div id="f13" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f13-1"
                aria-expanded="false" aria-controls="f13-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>13.</strong>
                &nbsp;How do I access my company’s seller account?</span></h6>
          </div>
          <div id="f13-1" aria-labelledby="f13" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">If your company has already registered as a seller, your company’s
                representative can help you with accessing the account.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><a href="/faqs/advertising/" id="back-to-top" title="Back to top" class="foter-1" style="display: none;"><i
    class="fa fa-angle-right"></i></a>
<div class="col-md-3 foter-2" style="margin-top: 50px;border-left: 1px solid rgb(222,222,222) ;">
  <h5 style="margin-bottom: 30px;font-weight: 500;">Explore More Topics</h5>
  <a href="/faqs/account/">
    <div style="padding: 5px 20px;color: white !important;background-color: #01011e;"><strong>Account FAQs</strong>
    </div>
  </a>
  <a href="/faqs/advertising/">
    <div style="padding: 10px 25px;color: black;"><strong>Advertising FAQs</strong></div>
  </a>
  <a href="/faqs/orders/">
    <div style="padding: 10px 25px;color: black;"><strong>Orders FAQs</strong></div>
  </a>
  <a href="/faqs/dashboard/">
    <div style="padding: 10px 25px;color: black;"><strong>Dashboard FAQs</strong></div>
  </a>
  <a href="/faqs/pricing/">
    <div style="padding: 10px 25px;color: black;"><strong>Pricing & Payments FAQs</strong></div>
  </a>
  <a href="/faqs/policies/">
    <div style="padding: 10px 25px;color: black;"><strong>Policies FAQs</strong></div>
  </a>
  <a href="/faqs/registration/">
    <div style="padding: 10px 25px;color: black;"><strong>Registration FAQs</strong></div>
  </a>
  <a href="/faqs/shipping/">
    <div style="padding: 10px 25px;color: black;"><strong>Shipping & Returns FAQs</strong></div>
  </a>
  <a href="/faqs/general/">
    <div style="padding: 10px 25px;color: black;"><strong>General FAQs</strong></div>
  </a>
  <a href="/pricecalculator/">
    <div style="padding: 10px 25px;color: black;"><strong>Price Calculator</strong></div>
  </a>
  <!-- <div style="padding: 10px 25px;color: black;"><strong>Account FAQs</strong></div> -->
</div>
</div>
{%endblock%}