{% extends 'seller_faq.html' %}

{% block body%}
<div class="row" style="margin: 0px;">
  <div class="col-12 col-md-2"></div>
  <div class="col" style="margin: 0px 20px;">
    <h1 class="text-center"
      style="margin: 30px 0px; color: black;font-weight: 700;font-family:'Times New Roman', Times, serif;">Shipping &
      Returns FAQs</h1>
    <div class="accordion_bk">
      <div class="mx-auto">
        <!-- Accordion -->
        <div id="accordionExample" class="accordion">

          <!-- Accordion item 1 -->
          <div class="card">
            <div id="f1" class="card-header bg-grey shadow-sm">
              <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f1-1" aria-expanded="true"
                  aria-controls="f1-1"
                  class="d-block position-relative text-dark text-uppercase py-2"><strong>1.</strong>
                  &nbsp;What is Seventh Square’s shipping policy?</span></h6>
            </div>
            <div id="f1-1" aria-labelledby="f1" data-parent="#accordionExample" class="collapse show">
              <div class="card-body p-3">
                <p class="font-weight-light m-0">Seventh Square has put in a simple and liberal shipping policy to help
                  seller truly control their business. You can choose to ship with Seventh Square or self-ship the
                  products if you have an extensive logistics network. You can also choose to show how much
                  non-refundable
                  shipping should the customer pay except the product price.</p>
              </div>
            </div>
          </div>

          <!-- Accordion item 2 -->
          <div class="card">
            <div id="f2" class="card-header bg-grey shadow-sm">
              <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f2-1" aria-expanded="false"
                  aria-controls="f2-1"
                  class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>2.</strong>
                  &nbsp;What is the process if I want to choose Self-Shipping?</span></h6>
            </div>
            <div id="f2-1" aria-labelledby="f2" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-3">
                <p class="font-weight-light m-0">If you prefer to deliver the orders by your partners/logistics network,
                  here’s how you can proceed: <br><br>Send in your Shipping Policy/SLA to us at
                  <u>seller@seventhsq.com</u> <br>We’ll verify it, understand it and incorporate it in our system.
                  <br>After the above, we’ll notify you and enable self-shipping on the products you’ve selected for the
                  same.
                </p>
              </div>
            </div>
          </div>

          <!-- Accordion item 3 -->
          <div class="card">
            <div id="f3" class="card-header bg-grey shadow-sm">
              <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f3-1"
                  aria-expanded="false" aria-controls="f3-1"
                  class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>3.</strong>
                  &nbsp;How does the delivery system work for Self-Shipped orders?</span></h6>
            </div>
            <div id="f3-1" aria-labelledby="f3" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-3">
                <p class="font-weight-light m-0">As soon as the customer places and order, you’ll be notified and
                  required
                  to package the product, label it and put on the invoice sent by us and deliver it through your partner
                  to the customer’s address ( which you can see on orders tab). However, since we have to keep the
                  customer updated on delivery terms, you’ll have to regularly put in updates regarding delivery and the
                  order, on the dashboard. These updates too can be done in the orders tab under relevant orders.</p>
              </div>
            </div>
          </div>

          <!-- Accordion item 4 -->
          <div class="card">
            <div id="f4" class="card-header bg-grey shadow-sm">
              <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f4-1"
                  aria-expanded="false" aria-controls="f4-1"
                  class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>4.</strong>
                  &nbsp;Can I raise claim if the customer has sent a different product than the original product?</span>
              </h6>
            </div>
            <div id="f4-1" aria-labelledby="f4" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-3">
                <p class="font-weight-light m-0">Yes. If accepted return from customer, but the product is not what was
                  ordered & delivered, you can raise a claim with us regarding this.</p>
              </div>
            </div>
          </div>

          <!-- Accordion item 5 -->
          <div class="card">
            <div id="f5" class="card-header bg-grey shadow-sm">
              <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f5-1"
                  aria-expanded="false" aria-controls="f5-1"
                  class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>5.</strong>
                  &nbsp;Can I use my own shipping while selling on SS?</span></h6>
            </div>
            <div id="f5-1" aria-labelledby="f5" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-3">
                <p class="font-weight-light m-0">Yes. Check in the price calculator to see how it’ll affect selling
                  price
                  and your payout.</p>
              </div>
            </div>
          </div>

          <!-- Accordion item 6 -->
          <div class="card">
            <div id="f6" class="card-header bg-grey shadow-sm">
              <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f6-1"
                  aria-expanded="false" aria-controls="f6-1"
                  class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>6.</strong>
                  &nbsp;What happens when I can't deliver the product on time?</span></h6>
            </div>
            <div id="f6-1" aria-labelledby="f6" data-parent="#accordionExample" class="collapse">
              <div class="card-body p-3">
                <p class="font-weight-light m-0">If the product is not delivered within acceptable delivery time, it is
                  marked under seller cancellation. We advise you to keep inventory and delivery date & time duly
                  updated
                  on the website so the customer doesn’t walk away unhappy. Delivering on time helps you get positive
                  feedback which helps your products list better and increase sales. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="/faqs/registration/" id="back-to-prev" title="Back to top" class="foter-1" style="display: none;"><i
      class="fa fa-angle-left"></i></a>
  <a href="/faqs/general/" id="back-to-top" title="Back to top" class="foter-1" style="display: none;"><i
      class="fa fa-angle-right"></i></a>
  <div class="col-md-3 foter-2" style="margin-top: 50px;border-left: 1px solid rgb(222,222,222) ;">
    <h5 style="margin-bottom: 30px;font-weight: 500;">Explore More Topics</h5>
    <a href="/faqs/account/">
      <div style="padding: 10px 25px;color: black;"><strong>Account FAQs</strong></div>
    </a>
    <a href="/faqs/advertising/">
      <div style="padding: 10px 25px;color: black;"><strong>Advertising FAQs</strong></div>
    </a>
    <a href="/faqs/orders/">
      <div style="padding: 10px 25px;color: black;"><strong>Orders FAQs</strong></div>
    </a>
    <a href="/faqs/dashboard/">
      <div style="padding: 10px 25px;color: black;"><strong>Dashboard FAQs</strong></div>
    </a>
    <a href="/faqs/pricing/">
      <div style="padding: 10px 25px;color: black;"><strong>Pricing & Payments FAQs</strong></div>
    </a>
    <a href="/faqs/policies/">
      <div style="padding: 10px 25px;color: black;"><strong>Policies FAQs</strong></div>
    </a>
    <a href="/faqs/registration/">
      <div style="padding: 10px 25px;color: black;"><strong>Registration FAQs</strong></div>
    </a>
    <a href="/faqs/shipping/">
      <div style="padding: 5px 20px;color: white !important;background-color: #01011e;"><strong>Shipping & Returns
          FAQs</strong></div>
    </a>
    <a href="/faqs/general/">
      <div style="padding: 10px 25px;color: black;"><strong>General FAQs</strong></div>
    </a>
    <a href="/pricecalculator/">
      <div style="padding: 10px 25px;color: black;"><strong>Price Calculator</strong></div>
    </a>
    <!-- <div style="padding: 10px 25px;color: black;"><strong>Account FAQs</strong></div> -->
  </div>
</div>
{%endblock%}