{% extends 'seller_faq.html' %}

{% block body%}
<div class="row" style="margin: 0px;">
<div class="col-12 col-md-2"></div>
<div class="col" style="margin: 0px 20px;">
  <h1 class="text-center"
    style="margin: 30px 0px; color: black;font-weight: 700;font-family:'Times New Roman', Times, serif;">Registration
    FAQs</h1>
  <div class="accordion_bk">
    <div class="mx-auto">
      <!-- Accordion -->
      <div id="accordionExample" class="accordion">

        <!-- Accordion item 1 -->
        <div class="card">
          <div id="f1" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f1-1" aria-expanded="true"
                aria-controls="f1-1" class="d-block position-relative text-dark text-uppercase py-2"><strong>1.</strong>
                &nbsp;How do I sell on Seventh Square?</span></h6>
          </div>
          <div id="f1-1" aria-labelledby="f1" data-parent="#accordionExample" class="collapse show">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">You can register yourself as a seller at seller.seventhsq.com .After
                registering, you can finish up some details required to sell online and upload your portfolio. Voila!
                You’re ready to sell. </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 2 -->
        <div class="card">
          <div id="f2" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f2-1" aria-expanded="false"
                aria-controls="f2-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>2.</strong>
                &nbsp;What all details are required for Seller Registration?</span></h6>
          </div>
          <div id="f2-1" aria-labelledby="f2" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Company/Representative Name, Phone number, Email and GST are required to
                create a free seller account with us. </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 3 -->
        <div class="card">
          <div id="f3" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f3-1"
                aria-expanded="false" aria-controls="f3-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>3.</strong>
                &nbsp;What documents would I need to start selling?</span></h6>
          </div>
          <div id="f3-1" aria-labelledby="f3" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Government of India has mandated some KYC procedures for online selling.
                <br>Here is a list of documents you’ll need to sell with us: <br>
              <ul>
                <li>GSTIN</li>
                <li>Business & Personal PAN</li>
                <li>Bank Account and Supporting verification documents</li>
                <li>Company & Personal Address Proof</li>
              </ul>
              </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 4 -->
        <div class="card">
          <div id="f4" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f4-1"
                aria-expanded="false" aria-controls="f4-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>4.</strong>
                &nbsp;What are the charges related to registration and product listing?</span></h6>
          </div>
          <div id="f4-1" aria-labelledby="f4" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Seventh Square does not charge for registration and product listing. It’s
                completely free!</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 5 -->
        <div class="card">
          <div id="f5" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f5-1"
                aria-expanded="false" aria-controls="f5-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>5.</strong>
                &nbsp;I’m having trouble with the registration process. Can I get some help?</span></h6>
          </div>
          <div id="f5-1" aria-labelledby="f5" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">You can reach out to seller support at <u>seller@seventhsq.com</u> or
                arrange a callback by filling out your query at <strong>Write to us</strong>.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 6 -->
        <div class="card">
          <div id="f6" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f6-1"
                aria-expanded="false" aria-controls="f6-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>6.</strong>
                &nbsp;Do I need to sign any physical agreement?</span></h6>
          </div>
          <div id="f6-1" aria-labelledby="f6" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">No. Your affirmation on the registration form states your acceptance of
                the agreement and terms. Therefore, we advise you to read all policies and agreements before
                registering. </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 7 -->
        <div class="card">
          <div id="f7" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f7-1"
                aria-expanded="false" aria-controls="f7-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>7.</strong>
                &nbsp;What are the Terms & Conditions mentioned on the registration page?</span></h6>
          </div>
          <div id="f7-1" aria-labelledby="f7" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">Terms & Conditions include the Seller Agreement & Marketplace policies
                for efficient working of the marketplace. These form the basis of the partnership between the seller and
                the marketplace. </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 8 -->
        <div class="card">
          <div id="f8" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f8-1"
                aria-expanded="false" aria-controls="f8-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>8.</strong>
                &nbsp;I have filled all the details correctly and still not able to register my account. What should I
                do?</span></h6>
          </div>
          <div id="f8-1" aria-labelledby="f8" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">If any technical issue, you can reach out to seller@seventhsq.com . They
                will help you register your account. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a href="/faqs/policies/" id="back-to-prev" title="Back to top" class="foter-1" style="display: none;"><i class="fa fa-angle-left"></i></a>
<a href="/faqs/shipping/" id="back-to-top" title="Back to top" class="foter-1" style="display: none;"><i class="fa fa-angle-right"></i></a>
<div class="col-md-3 foter-2" style="margin-top: 50px;border-left: 1px solid rgb(222,222,222) ;">
  <h5 style="margin-bottom: 30px;font-weight: 500;">Explore More Topics</h5>
  <a href="/faqs/account/">
    <div style="padding: 10px 25px;color: black;"><strong>Account FAQs</strong></div>
  </a>
  <a href="/faqs/advertising/">
    <div style="padding: 10px 25px;color: black;"><strong>Advertising FAQs</strong></div>
  </a>
  <a href="/faqs/orders/">
    <div style="padding: 10px 25px;color: black;"><strong>Orders FAQs</strong></div>
  </a>
  <a href="/faqs/dashboard/">
    <div style="padding: 10px 25px;color: black;"><strong>Dashboard FAQs</strong></div>
  </a>
  <a href="/faqs/pricing/">
    <div style="padding: 10px 25px;color: black;"><strong>Pricing & Payments FAQs</strong></div>
  </a>
  <a href="/faqs/policies/">
    <div style="padding: 10px 25px;color: black;"><strong>Policies FAQs</strong></div>
  </a>
  <a href="/faqs/registration/">
    <div style="padding: 5px 20px;color: white !important;background-color: #01011e;"><strong>Registration FAQs</strong>
    </div>
  </a>
  <a href="/faqs/shipping/">
    <div style="padding: 10px 25px;color: black;"><strong>Shipping & Returns FAQs</strong></div>
  </a>
  <a href="/faqs/general/">
    <div style="padding: 10px 25px;color: black;"><strong>General FAQs</strong></div>
  </a>
  <a href="/pricecalculator/">
    <div style="padding: 10px 25px;color: black;"><strong>Price Calculator</strong></div>
  </a>
  <!-- <div style="padding: 10px 25px;color: black;"><strong>Account FAQs</strong></div> -->
</div>
</div>
{%endblock%}