<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Seventh Square Seller Forum</title>
  {% include "styles.html" %}
    <style>
        thead,tbody,th,tr {
            border: none;
        }
        .table>:not(caption)>*>*{
            padding: 10px;
        }
    </style>
  {% include "navlogout.html" %}
  <nav aria-label="breadcrumb" style="font-size: 15px;">
    <ol class="breadcrumb" style="background-color: #fff;padding: 2px 20px;margin-bottom: 0px!important;">
      <li class="breadcrumb-item"><a href="/" style="color:#01011e">Home</a></li>
      <li class="breadcrumb-item"><a href="" id="last2word" style="color:#01011e"></a></li>
      <li class="breadcrumb-item active" aria-current="page"><span id="lastword"></span></li>
    </ol>
  </nav>

    <div class="row" style="margin: 0px;height: 50%;">
        <div class="col" style="padding: 0px;"><img class="img-fluid" src="/static/staticfiles/img/Untitled-1%20-%20Copy.jpg" style="width: 100%;"></div>
    </div>
    <div class="row" style="margin: 0px;padding: 0px 20px;">
        <div class="col-xl-3" style="padding: 30px 40px;"><a href="/forum/newdis/"><button class="btn btn-primary border rounded-0" type="button" style="background: #010122;width: 90%;border-width: 0px;margin-bottom: 15px;"><strong>New Discussion</strong></button></a>
            <h5 style="font-family: Poppins, sans-serif;margin: 18px 0px;color: var(--dark);font-weight: 300;font-size: 14px;"><i class="fab fa-discourse"></i><strong>&nbsp; &nbsp;All Discussions</strong></h5>
            <h5 style="font-family: Poppins, sans-serif;margin: 18px 0px;color: var(--dark);font-weight: 300;font-size: 14px;"><i class="fas fa-align-left"></i><strong>&nbsp; &nbsp;All Topics</strong></h5>
            <h5 style="font-family: Poppins, sans-serif;margin: 18px 0px;color: var(--dark);font-weight: 300;margin-top: 30px;font-size: 14px;"><i class="fas fa-chair" style="color: var(--blue);font-size: 16px;"></i><strong>&nbsp; &nbsp;Furniture</strong></h5>
            <h5 style="font-family: Poppins, sans-serif;margin: 18px 0px;color: var(--dark);font-weight: 300;font-size: 14px;"><i class="fas fa-cash-register" style="color: var(--cyan);font-size: 16px;"></i><strong>&nbsp; &nbsp;Sales</strong></h5>
            <h5 style="font-family: Poppins, sans-serif;margin: 18px 0px;color: var(--dark);font-weight: 300;font-size: 14px;"><i class="far fa-newspaper" style="font-size: 16px;color: var(--danger);"></i><strong>&nbsp; &nbsp;Marketing</strong></h5>
            <h5 style="font-family: Poppins, sans-serif;margin: 18px 0px;color: var(--dark);font-weight: 300;font-size: 14px;"><i class="fas fa-warehouse" style="font-size: 16px;color: var(--orange);"></i><strong>&nbsp; &nbsp;Overview</strong></h5>
            <h5 style="font-family: Poppins, sans-serif;margin: 18px 0px;color: var(--dark);font-weight: 300;font-size: 14px;"><i class="fas fa-cash-register" style="color: var(--cyan);font-size: 16px;"></i><strong>&nbsp; &nbsp;Sales</strong></h5>
            <h5 style="font-family: Poppins, sans-serif;margin: 18px 0px;color: var(--dark);font-weight: 300;font-size: 14px;"><i class="far fa-newspaper" style="font-size: 16px;color: var(--danger);"></i><strong>&nbsp; &nbsp;Marketing</strong></h5>
            <h5 style="font-family: Poppins, sans-serif;margin: 18px 0px;color: var(--dark);font-weight: 300;font-size: 14px;"><i class="fas fa-warehouse" style="font-size: 16px;color: var(--orange);"></i><strong>&nbsp; &nbsp;Overview</strong></h5>
            <h5 style="font-family: Poppins, sans-serif;margin: 18px 0px;color: var(--dark);font-weight: 300;font-size: 14px;"><i class="fas fa-cash-register" style="color: var(--cyan);font-size: 16px;"></i><strong>&nbsp; &nbsp;Sales</strong></h5>
            <h5 style="font-family: Poppins, sans-serif;margin: 18px 0px;color: var(--dark);font-weight: 300;font-size: 14px;"><i class="far fa-newspaper" style="font-size: 16px;color: var(--danger);"></i><strong>&nbsp; &nbsp;Marketing</strong></h5>
            <h5 style="font-family: Poppins, sans-serif;margin: 18px 0px;color: var(--dark);font-weight: 300;font-size: 14px;"><i class="fas fa-warehouse" style="font-size: 16px;color: var(--orange);"></i><strong>&nbsp; &nbsp;Overview</strong></h5>
        </div>
        <div class="col" style="padding: 30px 0px;">
            <div class="dropdown float-left"><button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background: #e4e4e4;padding: 6px 20px;margin-left: 20px;"><strong>Latest</strong></button>
                <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
            </div><i class="fa fa-refresh border rounded float-right" style="margin: 0px 35px;border-style: none;background: #e4e4e4;padding: 8px;font-size: 18px;"></i>
            <div class="table-responsive table-bordered table table-hover table-bordered results" style="border-style: none;margin: 0px;padding: 16px 0px;">
                <table class="table table-bordered table-hover" style="padding: 0px;">
                    <thead class="bill-header cs">
                        <tr>
                            <th id="trs-hd" style="padding: 0px;border-style: none;"></th>
                            <th id="trs-hd-3" style="padding: 0px;border-style: none;"></th>
                            <th id="trs-hd-2" style="padding: 0px;border-style: none;"></th>
                            <th id="trs-hd-1" style="padding: 0px;border-style: none;"></th>
                        </tr>
                    </thead>
                    <tbody>{% for i in data %}
                        <tr>
                            <td style="text-align: center;border-style: none;"><button class="btn btn-primary border btn-floating" type="button" style="font-size: 20px;"><strong>N</strong></button></td>
                            <td style="border-style: none;"><a href="/forum/{{i.dis_id}}/">
                                <h5 style="font-weight: 700;margin: 0px;font-size: 16px;">{{ i.content }}</h5><span><i class="fa fa-reply" style="font-size: 12px;"></i><span style="font-size: 12px;font-weight: 700;">&nbsp;{{ i.last }}</span><span style="font-size: 12px;">&nbsp;replied 4 hours ago</span></span></a>
                            </td>
                            <td style="text-align: right;border-style: none;"><span class="border rounded" style="padding: 2px 15px;background: var(--danger);color: rgb(255,255,255);font-weight: 700;font-size: 13px;">{{ i.topic }}</span></td>
                            <td style="border-style: none;"><span style="font-weight: 700;"><i class="fa fa-comment-o" style="font-size: 18px;font-weight: 900;"></i>&nbsp;{{ i.cmnt }}</span></td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
    <script>
      var l = window.location.pathname.split('/')[2];
      document.getElementById('lastword').innerHTML = l;
      var l2 = window.location.pathname.split('/')[1];
      document.getElementById('last2word').innerHTML = l2;
    </script>
    <script src="/static/staticfiles/js/jquery.min.js"></script>
    <script src="/static/staticfiles/bootstrap/js/bootstrap.min.js"></script>
    </body>
    
    </html>