{% extends 'seller_faq.html' %}

{% block body%}
<div class="row" style="margin: 0px;">
<div class="col-12 col-md-2"></div>
<div class="col" style="margin: 0px 20px;">
  <h1 class="text-center"
    style="margin: 30px 0px; color: black;font-weight: 700;font-family:'Times New Roman', Times, serif;">Pricing &
    Payments FAQs</h1>
  <div class="accordion_bk">
    <div class="mx-auto">
      <!-- Accordion -->
      <div id="accordionExample" class="accordion">

        <!-- Accordion item 1 -->
        <div class="card">
          <div id="f1" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f1-1" aria-expanded="true"
                aria-controls="f1-1" class="d-block position-relative text-dark text-uppercase py-2"><strong>1.</strong>
                &nbsp;How will I receive payments for products sold?</span></h6>
          </div>
          <div id="f1-1" aria-labelledby="f1" data-parent="#accordionExample" class="collapse show">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">You will receive the payments in the bank account you register with us on
                your seller panel. Please refer to Payment Policy for more information on this.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 2 -->
        <div class="card">
          <div id="f2" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f2-1" aria-expanded="false"
                aria-controls="f2-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>2.</strong>
                &nbsp;When do I get payments for orders shipped?</span></h6>
          </div>
          <div id="f2-1" aria-labelledby="f2" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">You are eligible for payments as soon as return period is over for a
                particular order. (Please refer merchant agreement for return period of various categories). Your
                payment cycle is every Tuesday. So, all payments cleared for disbursement will be transferred to your
                bank account every Tuesday.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 3 -->
        <div class="card">
          <div id="f3" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f3-1"
                aria-expanded="false" aria-controls="f3-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>3.</strong>
                &nbsp;Who decides the price of the products?</span></h6>
          </div>
          <div id="f3-1" aria-labelledby="f3" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">As a seller, you decide the price of the product. You can decide both
                ways with Seventh Square, how much should the customer pay or how much you want to receive. Check out
                price calculator for an example. </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 4 -->
        <div class="card">
          <div id="f4" class="card-header bg-grey shadow-sm">
            <h6 class="mb-0 font-weight-bold"><span href="#" data-toggle="collapse" data-target="#f4-1"
                aria-expanded="false" aria-controls="f4-1"
                class="d-block position-relative collapsed text-dark text-uppercase py-2"><strong>4.</strong>
                &nbsp;How should I price my products?</span></h6>
          </div>
          <div id="f4-1" aria-labelledby="f4" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">When Pricing, keep in mind the applicable marketplace fee. Keeping
                unreasonably high price will deter customers from buying your products. Products cannot be sold at a
                price higher than MRP.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<a href="/faqs/dashboard/" id="back-to-prev" title="Back to top" class="foter-1" style="display: none;"><i class="fa fa-angle-left"></i></a>
<a href="/faqs/policies/" id="back-to-top" title="Back to top" class="foter-1" style="display: none;"><i class="fa fa-angle-right"></i></a>
<div class="col-md-3 foter-2" style="margin-top: 50px;border-left: 1px solid rgb(222,222,222) ;">
  <h5 style="margin-bottom: 30px;font-weight: 500;">Explore More Topics</h5>
  <a href="/faqs/account/">
    <div style="padding: 10px 25px;color: black;"><strong>Account FAQs</strong></div>
  </a>
  <a href="/faqs/advertising/">
    <div style="padding: 10px 25px;color: black;"><strong>Advertising FAQs</strong></div>
  </a>
  <a href="/faqs/orders/">
    <div style="padding: 10px 25px;color: black;"><strong>Orders FAQs</strong></div>
  </a>
  <a href="/faqs/dashboard/">
    <div style="padding: 10px 25px;color: black;"><strong>Dashboard FAQs</strong></div>
  </a>
  <a href="/faqs/pricing/">
    <div style="padding: 5px 20px;color: white !important;background-color: #01011e;"><strong>Pricing & Payments
        FAQs</strong></div>
  </a>
  <a href="/faqs/policies/">
    <div style="padding: 10px 25px;color: black;"><strong>Policies FAQs</strong></div>
  </a>
  <a href="/faqs/registration/">
    <div style="padding: 10px 25px;color: black;"><strong>Registration FAQs</strong></div>
  </a>
  <a href="/faqs/shipping/">
    <div style="padding: 10px 25px;color: black;"><strong>Shipping & Returns FAQs</strong></div>
  </a>
  <a href="/faqs/general/">
    <div style="padding: 10px 25px;color: black;"><strong>General FAQs</strong></div>
  </a>
  <a href="/pricecalculator/">
    <div style="padding: 10px 25px;color: black;"><strong>Price Calculator</strong></div>
  </a>
  <!-- <div style="padding: 10px 25px;color: black;"><strong>Account FAQs</strong></div> -->
</div>
</div>
{%endblock%}